﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <table width="100%">
    <tr>
    <td width="150px">
    <div>
        <a href="~/">Home</a> | <a href="~/Cart">Cart</a> | <a href="~/SavedProjects">Saved Projects</a> | <a href="~/User">
            User</a> | <a href="~/Order">Orders</a> Current User: @Store.MvcApplication.Current.GetCurrentUserId() ||| <a href="~/CatfishSync">Catfish Sync Tests</a>
    </div>
    </td></tr>
    <tr><td>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    </td></tr></table>
</body>
</html>
