<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>UserClient.GetEditorLinkFor Method</h1>
                <p>Creates a link to embed the editor into an iFrame. This link will authenticate the user and is only valid for a short period of time. It needs to specifc the product id and optionally the orderline item id in case an existing product (basket item/saved project) needs to be edited.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.User</h6>
                <h6><strong>Class:</strong> UserClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax1">Syntax 1</h2>
                <div class="collapse in" id="Syntax1">
                    <pre class="csharp">
public string GetEditorLinkFor(
    Guid id, 
    int productId, 
    string orderlineItemId = null, 
    int? quantity = null, 
    string errorUrl = null
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                    <p class="padding-left">
                        Type: <strong>Guid</strong> <br />
                        Guid of the user (User identifier)
                    </p>
                    <i>productId</i> <br />
                    <p class="padding-left">
                        Type: <strong>int</strong> <br />
                        The product identifier for the product to open the editor for.
                    </p>
                    <i>orderlineItemId</i> <br />
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            (Optional): when an existing item (basket/saved project) should be edited, the id needs to be specified here.
                        </p>
                    <i>quantity</i> <br />
                        <p class="padding-left">
                            Type: <strong>int?</strong> <br/>
                            (Optional): Item quantity. Default is 1.
                        </p>
                    <i>errorUrl</i> <br />
                    <p class="padding-left">
                        Type: <strong>string</strong> <br />
                        (Optional): The url the iFrame should show in case there was an authentication error
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>string</strong> <br />
                        The url for the editor
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#Syntax2">Syntax 2</h2>
                <div class="collapse in" id="Syntax2">
                    <pre class="csharp">
public string GetEditorLinkFor(
    Guid id, 
    OrderLineItem oli, 
    string errorUrl = null
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br/>
                        <p class="padding-left">
                            Type: <strong>Guid</strong> <br/>
                            Guid of the user (User identifier)
                        </p>
                        <i>OrderLineItem</i> <br/>
                        <p class="padding-left">
                            Type: <strong><a href="/Docs/OrderLine/OrderLineItem">OrderLineItem</a></strong> <br/>
                            when an existing item (basket/saved project) should be edited, the OrderLineItem needs to be specified here.
                        </p>
                        <i>errorUrl</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            (Optional): The url the iFrame should show in case there was an authentication error
                        </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>string</strong> <br/>
                        The url for the editor
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.User;
namespace Infigo.Examples.User
{
    class GetEditorLinkFor
    {
        static void Main_GetEditorLinkFor()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            const int productId = 1;
            const string orderlineItemId = "10";
            try
            {
                // passing the product id only
                string editorLink1 = catfishApiClient.User.GetEditorLinkFor(new Guid(), productId);
                Console.WriteLine("Generated editor link url : {0}", editorLink1);
                // using the Guid as string
                string editorLink2 = catfishApiClient.User.GetEditorLinkFor(new Guid(), productId, orderlineItemId);
                Console.WriteLine("Generated editor link url : {0}", editorLink2);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}

                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br />
                        <a href="/Docs/OrderLine/OrderLineItem">OrderLineItem</a><br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->