﻿@model int?

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Add Category
            </header>
            <div class="panel-body">
                <section id="unseen">
                    @using (Html.BeginForm("AddCategory", "Category"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="hidden" value="@Model" name="parentCategoryId" />
                            @if (Model.HasValue)
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        Parent Category Id: <span class="badge bg-important">@Model</span>
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="description">Description:</label>
                                    <input type="text" class="form-control" id="description" name="description">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Create" class="btn btn-info" />
                                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
                                </div>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </section>
    </div>
</div>
