﻿@using CatfishApiSharp.Domain.Catalog
@using CatfishDemoStore.Models
@model CatfishDemoStore.Models.Catfish.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel categoryDetails">
            <header class="panel-heading">
                Category: Product List
            </header>
            <div class="panel-body">
                
                <section id="unseen">
                    <div>@Html.DisplayFor(model => model.Name) | @Html.DisplayFor(model => model.Description)</div>
                    <div>
                        @if (Model.Products.Count == 0)
                        {
                            <div class="text-info"> No Products for this Category</div>
                        }
                        @foreach (Product product in Model.Products)
                        {
                            <div class="col-md-3">
                                <section class="panel">
                                    <h4>@product.Name</h4><br/>
                                    <div class="pro-img-box">
                                        <img src="@product.ProductArtUrl"/>
                                        @if (product.Type == ProductInfo.ItemType.Variable)
                                        {
                                            <a href="@Url.Action("Edit", "Product", new {id = product.ProductId})" class="adtocart">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        }
                                    </div>
                                </section>
                            </div>
                        }
                    </div>
                </section>

            </div>
        </section>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
</div>