﻿@using CatfishDemoStore.Extensions
@model IEnumerable<CatfishDemoStore.Models.Catfish.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Categories
            </header>
            <div class="panel-body">
                <div class="clearfix margin-bottom">
                    <div class="btn-group">
                        <button id="editable-sample_new" class="btn green">
                            @Html.ActionLink("Add New", "Add") <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>

                <section id="unseen">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                <th>Has Products</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayCategoryName(item)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @if (item.Products.Any())
                                        {
                                            <i class="fa fa-check"></i>
                                        }
                                    </td>
                                    <td>
                                        @Html.ActionLink("Products List", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-danger btn-margin" }) 
                                        @Html.ActionLink("Add SubCategory", "Add", new { id = item.Id }, new { @class = "btn btn-xs btn-success btn-margin" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
                
                <a href="@Url.Action("ReloadCatalog", "Category")" class="btn btn-info"><i class="fa fa-refresh"></i> Reload catalog</a>
            </div>
        </section>
    </div>
</div>
