﻿@model CatfishApiSharp.Domain.OrderClient.OrderItem
@{
    ViewBag.Title = "Checkout Confirm";
}

<h2>You have checked out</h2>

@if(Model != null)
{
    <text>
    OrderId: @Model.Id<br />
    Total: @Model.OrderTotal<br />
    Status: @Model.Status
    </text>
}
