﻿@model  IEnumerable<CatfishDemoStore.Models.CartItem>
@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Shopping Cart
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.LineItemId)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.ProductId)</th>
                                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                                <th>@Html.DisplayNameFor(model => model.Thumbnail)</th>
                                <th>@Html.DisplayNameFor(model => model.Price)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.LineItemId)</td>
                                    <td>@Html.DisplayFor(model => item.Name)</td>
                                    <td>@Html.DisplayFor(model => item.ProductId)</td>
                                    <td>@Html.DisplayFor(model => item.Quantity)</td>
                                    <td><img src="@item.Thumbnail"/></td>
                                    <td>@Html.DisplayFor(model => item.Price)</td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditExisting", "Product", new { lineItemId = item.LineItemId, productId = item.ProductId }, new { @class = "btn btn-xs btn-info" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.LineItemId }, new { @class = "btn btn-xs btn-danger" })
                                        @Html.ActionLink("Increase Quantity", "UpdateQuantity", new { id = item.LineItemId, quantity = (item.Quantity + 1) }, new { @class = "btn btn-xs btn-info" })
                                        @Html.ActionLink("Decrease Quantity", "UpdateQuantity", new { id = item.LineItemId, quantity = (item.Quantity - 1) }, new { @class = "btn btn-xs btn-info" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>

                <a href="@Url.Action("Checkout", "Cart")" class="btn btn-info"><i class="fa fa-shopping-cart"></i> Checkout</a>
            </div>
        </section>
        
        <section class="panel">
            <header class="panel-heading">
                Migrate Cart
            </header>
            <div class="panel-body">
                <div class="row-fluid migrate-cart">
                    <div class="dataTables_filter" id="hidden-table-info_filter">
                        @using (Html.BeginForm("MigrateCart", "Cart"))
                        {
                            <input id="search-by-notes" name="newUid" type="text" class="form-control" aria-controls="hidden-table-info">
                            <button class="btn btn-danger" type="submit"><i class="fa fa-arrow-circle-right"></i> Submit</button>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
