<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Printing.DownloadJob Class</h1>
                <p>Catfish Sync Download Job Details</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.Domain.Printing</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public class DownloadJob</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#Properties">Properties</h2>
                <div class="collapse in" id="Properties">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>string</td>
                                <td>DownloadId</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>FileName</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>long</td>
                                <td>FileSize</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>int</td>
                                <td>HotFolderId</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>IntegrityVerification</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>byte</td>
                                <td>Status</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->