<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.AllPrintLocations Method</h1>
                <p>This will return the list of print locations based on your account.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Printing</h6>
                <h6><strong>Class:</strong> PrintClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">public List&lt;PrintLocation&gt; AllPrintLocations()</pre>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>List&lt;PrintLocation&gt;</strong> <br/>
                        A list of HotFolders
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">
[{"Id":1,"Name":"PrintLocation1","Description":"PrintLocation 1 Description","AccountId":1},
{"Id":2,"Name":"PrintLocation2","Description":"PrintLocation 2 Description","AccountId":1}]
</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;ArrayOfPrintLocation xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Web.Areas.API.Models&quot; xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;
   &lt;PrintLocation&gt;
      &lt;AccountId&gt;1&lt;/AccountId&gt;
      &lt;Description&gt;PrintLocation 1 Description&lt;/Description&gt;
      &lt;Id&gt;1&lt;/Id&gt;
      &lt;Name&gt;PrintLocation1&lt;/Name&gt;
   &lt;/PrintLocation&gt;
   &lt;PrintLocation&gt;
      &lt;AccountId&gt;1&lt;/AccountId&gt;
      &lt;Description&gt;PrintLocation 2 Description&lt;/Description&gt;
      &lt;Id&gt;2&lt;/Id&gt;
      &lt;Name&gt;PrintLocation2&lt;/Name&gt;
   &lt;/PrintLocation&gt;
&lt;/ArrayOfPrintLocation&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Printing;
namespace Infigo.Examples.Printing
{
    class AllPrintLocations
    {
        static void Main_AllPrintLocations()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // migrating data
                List<PrintLocation> printLocationsList = catfishApiClient.Printing.AllPrintLocations();
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br/>
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br/>
                        <a href="/Docs/Printing/PrintLocation">PrintLocation Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->