<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.GetHotFoldersByPrintLocationId Method</h1>
                <p>Returns a list of all hotfolders filtered by print location id.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Printing</h6>
                <h6><strong>Class:</strong> PrintClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public List&HotFolder&gt; GetHotFoldersByPrintLocationId(
    string id
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            Id of the print location
                        </p>
                    </p>

                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>List&lt;HotFolder&gt;</strong> <br/>
                        A list of HotFolders
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">
[{"Name":"HotFolder1","Description":"HotFolder 1 Description","Folder":"C:\\HotFolder1","Enabled":true,"PrintLocationId":1,"Id":1,"IsCurrentAccountIdEntity":false,"AccountId":1},
 {"Name":"HotFolder2","Description":"HotFolder 2 Description","Folder":"C:\\HotFolder2","Enabled":true,"PrintLocationId":1,"Id":2,"IsCurrentAccountIdEntity":true,"AccountId":2}]
</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;ArrayOfHotFolder xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Web.Areas.API.Models&quot; xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;
   &lt;HotFolder&gt;
      &lt;AccountId xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Core&quot;&gt;1&lt;/AccountId&gt;
      &lt;Id xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Core&quot;&gt;1&lt;/Id&gt;
      &lt;Description&gt;HotFolder 1 Description&lt;/Description&gt;
      &lt;Enabled&gt;true&lt;/Enabled&gt;
      &lt;Folder&gt;C:\HotFolder1&lt;/Folder&gt;
      &lt;Name&gt;HotFolder1&lt;/Name&gt;
      &lt;PrintLocationId&gt;1&lt;/PrintLocationId&gt;
   &lt;/HotFolder&gt;
   &lt;HotFolder&gt;
      &lt;AccountId xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Core&quot;&gt;2&lt;/AccountId&gt;
      &lt;Id xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Core&quot;&gt;2&lt;/Id&gt;
      &lt;Description&gt;HotFolder 2 Description&lt;/Description&gt;
      &lt;Enabled&gt;true&lt;/Enabled&gt;
      &lt;Folder&gt;C:\HotFolder2&lt;/Folder&gt;
      &lt;Name&gt;HotFolder2&lt;/Name&gt;
      &lt;PrintLocationId&gt;1&lt;/PrintLocationId&gt;
   &lt;/HotFolder&gt;
&lt;/ArrayOfHotFolder&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Printing;
namespace Infigo.Examples.Printing
{
    class GetHotFoldersByPrintLocationId
    {
        static void Main_GetHotFoldersByPrintLocationId()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            const string printLocationId = "1";
            try
            {
                List<HotFolder> hotfolderList = catfishApiClient.Printing.GetHotFoldersByPrintLocationId(printLocationId);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br/>
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br/>
                        <a href="/Docs/Printing/HotFolder">HotFolder Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->