<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.GetNextDownloadJob Method</h1>
                <p>This will bring the next available item to the the download queue, the return will have a unique download Id.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Printing</h6>
                <h6><strong>Class:</strong> PrintClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public DownloadJob GetNextDownloadJob(
    string hotfolderId
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>hotfolderId</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            Id of the hot folder
                        </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong></strong> <br />
                        The DownloadJob
                    </p>
                </div>

                

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain;
namespace Infigo.Examples.Printing
{
    class GetNextDownloadJob
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            const string hotFolderId = "1";
            const string folderName = @"C:\Temp";
            try
            {
                DownloadJob job = catfishApiClient.GetNextDownloadJob(hotFolderId);
                catfishApiClient.Printing.DownloadFile(job.DownloadId, string.Format("{0}\\{1}", folderName, job.FileName));
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br/>
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br/>
                        <a href="/Docs/Printing/DownloadJob">DownloadJob Class</a><br />
                        <a href="/Docs/Printing/DownloadFile">DownloadFile Method</a><br/>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->