<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.GetPrintLocationByName Method</h1>
                <p>This will return the list of print locations based on your account and provided name.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Printing</h6>
                <h6><strong>Class:</strong> PrintClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public PrintLocation GetPrintLocationByName(
    string id
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                    <p class="padding-left">
                        Type: <strong>string</strong> <br />
                        Name of the print location
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/Printing/PrintLocation">PrintLocation</a></strong> <br/>
                        Found PrintLocation
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">{"Id":1,"Name":"PrintLocation1","Description":"PrintLocation 1 Description","AccountId":1}</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;PrintLocation xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Web.Areas.API.Models&quot; xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;
   &lt;AccountId&gt;1&lt;/AccountId&gt;
   &lt;Description&gt;PrintLocation 1 Description&lt;/Description&gt;
   &lt;Id&gt;1&lt;/Id&gt;
   &lt;Name&gt;PrintLocation1&lt;/Name&gt;
&lt;/PrintLocation&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Printing;
namespace Infigo.Examples.Printing
{
    class GetPrintLocationByName
    {
        static void Main_GetPrintLocationByName()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            const string printLocationName = "TestName";
            try
            {
                PrintLocation printLocation = catfishApiClient.Printing.GetPrintLocationByName(printLocationName);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br/>
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br/>
                        <a href="/Docs/Printing/PrintLocation">PrintLocation Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->