<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.SetJobAsFailedToDownload Method</h1>
                <p>Sets job's status to downloaded.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Printing</h6>
                <h6><strong>Class:</strong> PrintClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public void SetJobAsFailedToDownload(
    string downloadId
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>downloadId</i> <br />
                    <p class="padding-left">
                        Type: <strong>string</strong> <br />
                        Id of the download Job
                    </p>
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.Printing
{
    class SetJobAsDownloaded
    {
        static void Main_SetJobAsDownloaded()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            const string hotFolderId = "1";
            try
            {
                var job = catfishApiClient.GetNextDownloadJob(hotFolderId);
                catfishApiClient.Printing.SetJobAsFailedToDownload(job.DownloadId);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}

                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br/>
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br/>
                        <a href="/Docs/Printing/GetNextDownloadJob">GetNextDownloadJob Method</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->