﻿/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #31a3dd;
    color: #fff;
}
::-moz-selection {
    background: #31a3dd;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

.hidden-area {
    display: none;
}

/*main content*/
#main-content {
    margin-left: 250px;
}

.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.white-bg {
    background: #fff;
    border-bottom: 1px solid #f1f2f7;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 15px;
    width: 100%;
}

.pull-right {
    width: 40%;
    margin-right: -17px;
}


a.logo,
a.logo-docs {
    float: left;
    background-image: url(https://infigo.net/wp-content/uploads/2021/07/infigo-logo-colour.svg);
    background-repeat: no-repeat;
    width: 218px;
    height: 47px;
    margin-top: 6px;
    background-size: contain;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.catfish-docs-logo {
    display: block;
    background-repeat: no-repeat;
    background-position: left center;
    width: 100%;
    height: 60px;
    background-size: cover;
}

a.switch {
    margin-top: 13px;
    float: right;
    position: absolute;
    right: 15px;
    top: 0;
}

.adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
}

.adtocart i{
    color: #fff;
    font-size: 25px;
    line-height: 42px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
}

.adtocart i:hover {
    font-size: 27px;
    line-height: 44px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.padding-left {
    padding-left: 1.5em;
}
/*search*/

.search-row {
    float: left;
    width: calc(100% - 260px);
}

.search {
    margin-top: 13px ;
    width: 100%;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border: 1px solid #eaeaea;
    box-shadow: none;
    background: url("Images/search-icon.png") no-repeat 10px 8px;
    padding:0 5px 0 35px;
    color: #c8c8c8;
    margin-left: 10px;
}
.typeahead.search {
    border: 1px solid #eaeaea;
}

/*--sidebar toggle---*/

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -250px;
}

/*sidebar navigation*/

#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    background: #2a3542;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

#dragbar {
    height: 100%;
    float: right;
    width: 5px;
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: 0.25s ease, border-width 0.25s ease, background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

#dragbar:hover {
    background-color: #0079B1;
}

/*LEFT NAVIGATION ICON*/
.dcjq-icon {
    height:17px;
    width:17px;
    display:inline-block;
    background: url(images/nav-expand.png) no-repeat top;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    right:10px;
    top:15px;
}
.active .dcjq-icon {
    background: url(images/nav-expand.png) no-repeat bottom;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
/*---*/

.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}


ul.sidebar-menu li ul.sub li{
    background: #35404D;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #31a3dd;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #35404d;
    color: #fff;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #31a3dd;
}

ul.sidebar-menu li a.active i {
    color: #31a3dd;
}

ul.sidebar-menu li > a.active .fa-folder-o:before{
    content: "\f115";
}

/*badge*/

.badge.bg-primary {
    background: #8075c4;
}

.badge.bg-success {
    background: #a9d86e;
}

.badge.bg-warning {
    background: #FCB322;
}

.badge.bg-important {
    background: #ff6c60;
}

.badge.bg-info {
    background: #41cac0;
}

.badge.bg-inverse {
    background: #2A3542;
}


/*Category*/
.home-title {
    color: #2E92C2;
    margin: 10px 0 20px;
}

.margin-bottom {
    margin-bottom: 15px;
}
.margin-bottom:after {
    content: '';
    clear: both;
    display: table;
}

/*Category Details*/
.categoryDetails .pro-img-box,
.categoryDetails .col-md-3 {
    text-align: center;
}

.btn-margin {
    margin-bottom: 3px;
}

/*Orders*/
.dataTables_filter {
    width: 100%;
}
.dataTables_filter label {
    line-height: 33px;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 10px;
}
.dataTables_filter input[type=text] {
    width: 30%;
    display: inline-block;
    margin-right: 5px;
}

.dataTables_filter.user input[type=text] {
    width: 70%;
}

.order-panel {
    padding: 15px 0;
}

.order-detail .vertical-mid {
    line-height: 30px;padding-bottom: 0;margin-bottom: 0;
}

hr {
    margin: 10px 0;
}
/* Products list */
.products-list .list-group-item {
    min-height: 220px;
    border-radius: 0;
    margin: 5px 0;
}

.products-list .adtocart {
    top: inherit;
    left: inherit;
    right: 0;
    bottom: 0;
    position: relative;
}

/* Documentation*/
.doc-home { color: #000000;}

.doc-home  h1 {
    font-size: 2.769em;
    font-weight: normal;
    color: #2E92C2;
}
.doc-home h3 {
    font-weight: 500;
    color: #007CA5;
}

.doc-home hr {
    margin: 30px 0;
}

.doc-home ul  {
    padding-left: 20px;
}

.doc-template {}

.doc-template h1 {
    font-size: 2.769em;
    font-weight: normal;
    color: #2E92C2;
}

.doc-template h2 {
    font-size: 1.6em;
    font-weight: normal;
    margin: 5px 0 10px;
    color: #2E92C2;
}

.app-documentation h2:hover {
    color: rgba(46, 146, 194, 0.8);
}

.doc-template p {
    color: #2a2a2a;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
    line-height: 18px;
}

pre .kwd {
  color: #ff3399;
}

pre .str, pre .atv {
  color: #2db245;
}

.app-documentation .collapse, .app-documentation .in {
    padding-left: 1em;
}
.app-documentation h2 {cursor: pointer;}
.app-documentation h2:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    line-height: 1.6em;
    content: "\f068      ";
}
.app-documentation h2.collapsed:before {
    content: "\f067      ";
}

#Properties table {
    color: #000;
}

ul.enumerator-list li {
    list-style:decimal;
    padding-bottom: 5px;
}
ul.enumerator-list li ul li {
    list-style:circle;
}

.underline {
    text-decoration:underline;
}

/*---------- kwrite Styles ---------*/
.sh_kwrite {
    background:none; padding:0; margin:0; border:0 none;
}
.sh_kwrite .sh_sourceCode {
    background-color:#fff;color:#000;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_keyword {
    color:#000;font-weight:bold;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_type {
    color:#830000;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_string {
    color:#f00;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_regexp {
    color:#f00;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_specialchar {
    color:#f0f;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_comment {
    color:#838183;font-weight:normal;font-style:italic;
}
.sh_kwrite .sh_sourceCode .sh_number {
    color:#2928ff;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_preproc {
    color:#008200;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_function {
    color:#010181;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_url {
    color:#f00;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_date {
    color:#000;font-weight:bold;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_time {
    color:#000;font-weight:bold;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_file {
    color:#000;font-weight:bold;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_ip {
    color:#f00;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_name {
    color:#f00;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_variable {
    color:#000;font-weight:bold;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_oldfile {
    color:#f0f;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_newfile {
    color:#f00;font-weight:normal;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_difflines {
    color:#000;font-weight:bold;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_selector {
    color:#000;font-weight:bold;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_property {
    color:#000;font-weight:bold;font-style:normal;
}
.sh_kwrite .sh_sourceCode .sh_value {
    color:#f00;font-weight:normal;font-style:normal;
}

/* Type a head*/
.twitter-typeahead{
	width: 100%!important;
}
.typeahead,
.tt-query,
.tt-hint {
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
.inner-editor {
    font-weight: bold;
}