﻿<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Catalog.TierPrice Class</h1>
                <p>Represents tier price</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.Domain.Catalog</h6>
                <h6>Member of CatfishApiSharp.Domain.Catalog</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public class TierPrice</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#Properties">Properties</h2>
                <div class="collapse in" id="Properties">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>int</td>
                            <td>Quantity</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>decimal</td>
                            <td>Price</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->