<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.CreateCategory Method</h1>
                <p>Create a new category</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Catalog</h6>
                <h6><strong>Class:</strong> CatalogClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public int CreateCategory(
    CreateCategoryRequest request
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>request</i> <br />
                    <p class="padding-left">
                        Type: <strong><a href="/Docs/Catalog/CreateCategoryRequest">CreateCategoryRequest</a></strong> <br />
                        Object
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>int</strong> <br />
                        Integer value
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Catalog;
namespace Infigo.Examples.Catalog
{
    class CreateCategory
    {
        static void Main_CreateCategory()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                var newCategoryId = catfishApiClient.Catalog.CreateCategory(new CreateCategoryRequest
                {
                    Name = "Example Category",
                    Description = "Some description",
                    ParentCategoryId = null // you can provide parent category id if required
                });
                // you can get now newly created category details
                CategoryInfo categoryInfo = catfishApiClient.Catalog.GetCategoryInfo(newCategoryId);
                Console.WriteLine(categoryInfo.Name);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/Catalog/CreateCategoryRequest">CreateCategoryRequest Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->