<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.GetCategoryList Method</h1>
                <p>Returns a list of all root category identifier available in the system</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Catalog</h6>
                <h6><strong>Class:</strong> CatalogClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">public IEnumerable&lt;int&gt; GetCategoryList()</pre>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>IEnumerable&lt;int&gt;</strong> <br/>
                        Array of Integers
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">[393,415,416,1048]</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;ArrayOfint xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
    &lt;int&gt;393&lt;/int&gt;
    &lt;int&gt;415&lt;/int&gt;
    &lt;int&gt;416&lt;/int&gt;
    &lt;int&gt;1048&lt;/int&gt;
&lt;/ArrayOfint&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Catalog;

namespace Infigo.Examples.Catalog
{
    class GetCategoryList
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // Get the list of existing category Ids
                IEnumerable&lt;int&gt; categoryIds = catfishApiClient.Catalog.GetCategoryList();
                foreach (var id in categoryIds)
                {
                    // get details about each found category
                    CategoryInfo categoryInfo = catfishApiClient.Catalog.GetCategoryInfo(id);
                    Console.WriteLine("Name: {0}; Description: {1}", categoryInfo.Name, categoryInfo.Description);
                }
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br/>
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->