<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.GetProductInfo Method</h1>
                <p>Get detailed information for a product within the system</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Catalog</h6>
                <h6><strong>Class:</strong> CatalogClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public ProductInfo GetProductInfo(
    int id, 
    int? thumbnailSize, 
    int? previewSize
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                        <p class="padding-left">
                            Type: <strong>int</strong> <br/>
                            Product identifier
                        </p>
                    <i>thumbnailSize</i> <br />
                        <p class="padding-left">
                            Type: <strong>int?</strong> <br/>
                            Optional width of the thumbnail image
                        </p>
                    <i>previewSize</i> <br />
                    <p class="padding-left">
                        Type: <strong>int?</strong> <br />
                        Optional width of the preview image
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/Catalog/ProductInfo">ProductInfo Class</a></strong> <br />
                        Object containing Product details
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Catalog;

namespace Infigo.Examples.Catalog
{
    class GetProductInfo
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // Get the list of existing product Ids
                IEnumerable&lt;int&gt; productIds = catfishApiClient.Catalog.GetProductList();
                foreach (var id in productIds)
                {
                    // get details about each found product id
                    ProductInfo productInfo = catfishApiClient.Catalog.GetProductInfo(id);
                    Console.WriteLine("Name: {0}; ShortDescription: {1}", productInfo.Name, productInfo.ShortDescription);
                }
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/Catalog/ProductInfo">ProductInfo Class</a><br />
                        <a href="/Docs/Catalog/GetProductList">GetProductList Method</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->