<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.GetProductList Method</h1>
                <p>Returns a list of all product identifier in whole the system</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Catalog</h6>
                <h6><strong>Class:</strong> CatalogClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">public IEnumerable&lt;int&gt; GetProductList()</pre>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>IEnumerable&lt;int&gt;</strong> <br/>
                        Array of Integers
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">[393,415,416,1048]</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;ArrayOfint xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
    &lt;int&gt;393&lt;/int&gt;
    &lt;int&gt;415&lt;/int&gt;
    &lt;int&gt;416&lt;/int&gt;
    &lt;int&gt;1048&lt;/int&gt;
&lt;/ArrayOfint&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Catalog;

namespace Infigo.Examples.Catalog
{
    class GetProductList
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // Get the list of existing product Ids
                IEnumerable&lt;int&gt; productIds = catfishApiClient.Catalog.GetProductList();
                foreach (var id in productIds)
                {
                    // get details about each found product id
                    ProductInfo productInfo = catfishApiClient.Catalog.GetProductInfo(id);
                    Console.WriteLine("Name: {0}; ShortDesc: {1}", productInfo.Name, productInfo.ShortDescription);
                }
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br/>
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br/>
                        <a href="/Docs/Catalog/GetProductsInCategory">GetProductsInCategory Method</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->