<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.GetProductsInCategory Method</h1>
                <p>Returns a list of all product identifier in a category</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Catalog</h6>
                <h6><strong>Class:</strong> CatalogClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax1">Syntax 1</h2>
                <div class="collapse in" id="Syntax1">
                    <pre class="csharp">
public IEnumerable&lt;int&gt; GetProductsInCategory(
    int categoryId
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>categoryId</i> <br/>
                        <p class="padding-left">
                            Type: <strong>int</strong> <br/>
                            Category identifier
                        </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>IEnumerable&lt;int&gt;</strong> <br/>
                        Array of Integers
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#Syntax2">Syntax 2</h2>
                <div class="collapse in" id="Syntax2">
                    <pre class="csharp">
public IEnumerable&lt;int&gt; GetProductsInCategory(
    CategoryInfo info
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>info</i> <br />
                    <p class="padding-left">
                        Type: <strong><a href="/Docs/Catalog/CategoryInfo">CategoryInfo</a></strong> <br />
                        Category object
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>IEnumerable&lt;int&gt;</strong> <br />
                        Array of Integers
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">[393,415,416,1048]</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;ArrayOfint xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
    &lt;int&gt;393&lt;/int&gt;
    &lt;int&gt;415&lt;/int&gt;
    &lt;int&gt;416&lt;/int&gt;
    &lt;int&gt;1048&lt;/int&gt;
&lt;/ArrayOfint&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Catalog;

namespace Infigo.Examples.Catalog
{
    class GetProductsInCategory
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // Get the list of existing category Ids
                IEnumerable&lt;int&gt; categoryIds = catfishApiClient.Catalog.GetCategoryList();
                foreach (var id in categoryIds)
                {
                    // get products ids list for category id
                    IEnumerable&lt;int&gt; productIds = catfishApiClient.Catalog.GetProductsInCategory(id);
                    foreach (var pid in productIds)
                    {
                        // get details about each found product id
                        ProductInfo productInfo = catfishApiClient.Catalog.GetProductInfo(pid);
                        Console.WriteLine("1. Name: {0}; ShortDescription: {1}", productInfo.Name, productInfo.ShortDescription);
                    }
                    // get products ids list for CategoryInfo
                    CategoryInfo categoryInfo = catfishApiClient.Catalog.GetCategoryInfo(id);
                    IEnumerable&lt;int&gt; productIds2 = catfishApiClient.Catalog.GetProductsInCategory(categoryInfo);
                    foreach (var pid in productIds2)
                    {
                        // get details about each found product id
                        ProductInfo productInfo = catfishApiClient.Catalog.GetProductInfo(pid);
                        Console.WriteLine("2. Name: {0}; ShortDescription: {1}", productInfo.Name, productInfo.ShortDescription);
                    }
                }
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br/>
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br/>
                        <a href="/Docs/Catalog/CategoryInfo">CategoryInfo Class</a><br />
                        <a href="/Docs/Catalog/GetProductList">GetProductList Method</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->