<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.UpdateProduct Method</h1>
                <p>Updates an existing product</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Catalog</h6>
                <h6><strong>Class:</strong> CatalogClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public bool UpdateProduct(
    UpdateProductRequest request
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>request</i> <br />
                    <p class="padding-left">
                        Type: <strong><a href="/Docs/Catalog/UpdateProductRequest">UpdateProductRequest</a></strong> <br />
                        Object
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>bool</strong> <br />
                        Boolean value
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Catalog;
namespace Infigo.Examples.Catalog
{
    class UpdateProduct
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            const int productIdToUpdate = 1;
            try
            {
                var result = catfishApiClient.Catalog.UpdateProduct(new UpdateProductRequest
                {
                    Name =  "Updated product name",
                    CategoryIds = new []{1,2,3},
                    Description = "Updated description",
                    Price = 20,
                    ProductId = productIdToUpdate, // The product we want to update
                    Tags = new []{ "Tag1", "Tag2"}
                });
                Console.WriteLine(result ? "Successfully updated product {0}" : "Failed to update product {0}",
                    productIdToUpdate);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}

                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/Catalog/UpdateProductRequest">UpdateProductRequest Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->