<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatalogClient.UploadProductImage Method</h1>
                <p>Upload a thumbnail against an existing product</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Catalog</h6>
                <h6><strong>Class:</strong> CatalogClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public void UploadProductImage(
    int productId, 
    string filename,
    bool clearExisting = false
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>productId</i> <br/>
                        <p class="padding-left">
                            Type: <strong>int</strong> <br/>
                            Product identifier, id of the product for which to upload the PDF
                        </p>
                        <i>filename</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            String value, the path to the Thumbnail file on the local system
                        </p>
                        <i>clearExisting</i> <br/>
                        <p class="padding-left">
                            Type: <strong>bool</strong> <br/>
                            Bool value, states if to delete existing thumbnail or not
                        </p>
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using System.IO;
using CatfishApiSharp;

namespace Infigo.Examples.Catalog
{
    class UploadProductImage
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            const int productId = 1;
            FileInfo thumbnailFileInfo = new FileInfo(@"c:\testThumbnail.png");
            const bool clearExistingThumbnail = false;
            try
            {
                catfishApiClient.Catalog.UploadProductImage(productId, thumbnailFileInfo.FullName, clearExistingThumbnail);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->