﻿@model IEnumerable<CatfishApiSharp.Domain.OrderLine.OrderLineItem>

@{
    ViewBag.Title = "Details2";
}

<h2>Order Lines</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>Preview</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    var img = item.ThumbnailUrls != null ? item.ThumbnailUrls.FirstOrDefault() : string.Empty;
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelIt => item.Notes)
        </td>

        <td>
            <img src="@img" />            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Change to shipped","SetOrderlineStatus", new { id = item.Id, status = 9, orderId = (int)ViewBag.OrderId }) <br />
            @Html.ActionLink("Reorder item", "ReorderItem", new { id = item.Id })

            @using (Html.BeginForm("SetItemNotes", "Order", new { id = item.Id }, FormMethod.Post))
            {
                <div> Set Notes:
                    <input name="notes" type = "text" />
                    <input type="submit" />
                </div>
            }
        </td>
    </tr>
}

</table>


@using (Html.BeginForm("SetPurchaseOrderNumber", "Order", new { id = (int)ViewBag.OrderId }))
{
    <div>
        Set Purchase Order Number
        <input type="text" name="purchaseOrderNumber" />
        <input type="submit" />
    </div>    
}
