﻿@model IEnumerable<CatfishApiSharp.Domain.OrderClient.OrderItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.OrderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id })|
                @Html.ActionLink("Set Paid", "SetStatus", new { id = item.Id, status = 20 })
                @Html.ActionLink("Set Shipped", "SetStatus", new { id = item.Id, status = 30 })
                @Html.ActionLink("Set Complete", "SetStatus", new { id = item.Id, status = 40 })
                @Html.ActionLink("Reorder","Reorder", new { id = item.Id })
        </td>
    </tr>
}

</table>

<hr />
@using (Html.BeginForm("SearchByNotes","Order"))
{
    <div> Search by notes:
        <input type="text" name="searchpattern" />
        <input type="submit" />
    </div>
}
