﻿@model IEnumerable<CatfishApiSharp.Domain.OrderLine.OrderLineItem>

@{
    ViewBag.Title = "Search By Notes";
}

<h2>Search By Notes Results</h2>

@if (Model.Count() == 0)
{
    <div>No results</div>    
}
else
{
    foreach (var oli in Model)
    {
        <div>
            @oli.Id - @oli.Name <br />
            @oli.Notes
        </div>
        <hr />
    }
}