﻿@model CatfishApiSharp.Domain.OrderClient.OrderItem
@{
    ViewBag.Title = "CheckoutConfirm";
}

<h2>You have checked out</h2>

OrderId: @Model.Id<br />
Total: @Model.OrderTotal<br />
Status: @Model.Status
