﻿@model IEnumerable<Store.CartItem>
@{
    ViewBag.Title = "Cart";
}
<h2>
    Shopping Cart</h2>
<table class="overviewTable">
    <tr>
        <th>
            Line Item Id
        </th>
        <th>
            Product Id
        </th>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        <th>Preview</th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LineItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img src="@item.Thumbnail" />
            </td>
            <td>
                @Html.ActionLink("Edit", "EditExisting", "Product", new { lineItemId = item.LineItemId, productId = item.ProductId }, null)|
                @Html.ActionLink("Delete", "Delete", new { id = item.LineItemId }) |         
                @Html.ActionLink("Increase Quantity", "UpdateQuantity", new { id = item.LineItemId, quantity = (item.Quantity+ 1) })
                @Html.ActionLink("Decrease Quantity", "UpdateQuantity", new { id = item.LineItemId, quantity = (item.Quantity-1) })
            </td>
        </tr>
    }
</table>
<h2>
    Migrate Cart</h2>
<form class="search" action="@Url.Action("MigrateCart", "Cart")" method="get">
<div>
    <input name="newUid" value="" type="text" />
    <input type="submit" />
</div>
</form>
<br />
<h2>Or Checkout</h2>
@Html.ActionLink("Checkout now","Checkout")
