﻿@using CatfishDemoStore.Areas.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Catfish Documentation</title>
    <link rel="shortcut icon" href="https://resources.public.infigosoftware.rocks/logo/notification_navy_coral_40x14.png">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/syntax-highlighting")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</head>
<body class="app-documentation">
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
        </div>

        <!--logo start-->
        <a href="@Url.Action("Index", "Home")" class="logo-docs"></a>
        <!--logo end-->

        <div class="search-row">
            <input type="text" class="form-control search typeahead" placeholder="Search" tabindex="1" />
        </div>
    </header>

    <!--sidebar start-->
    <aside>
        @Html.Partial("Sidebar")
    </aside>
    <!--end sidebar start-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            @RenderBody()
        </section>
    </section>

    <!--main content start-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/syntax-highlighting")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
    @RenderSection("masterjs", required: false)
    <script>
    $(document).ready(function() {
        $('pre.csharp').snippet("csharp", { style: "kwrite", clipboard: "/Scripts/ZeroClipboard.swf" });

        @{
            var searchTerms = DocsGlobal.Folders.SelectMany(f => f.Files.Select(file => (f.FolderName + @"/" + file.Name))).ToArray();
        }
        var searchTerms = [];

        @foreach (var st in searchTerms)
        {
            @:searchTerms.push("@st");
        }

        $('.search.typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },
        {
            name: 'searchTerms',
            displayKey: 'value',
            source: substringMatcher(searchTerms)
        }).bind('typeahead:selected', function(obj, datum, name) {
            window.location = "/Docs/" + datum.value;
        });
    })
    </script>

</body>
</html>
