﻿@using CatfishDemoStore.Areas.Helper
<div id="sidebar" class="nav-collapse" tabindex="5000" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a href="@Url.Action("Index", "Home", new { area = "" }, null)" class="dcjq-parent">
                <i class="fa fa-sign-out"></i>
                <span>Switch to Demo Store</span>
            </a>
        </li>
       @*@foreach (var folder in DocsGlobal.Folders)
               {
                   <li class="sub-menu dcjq-parent-li">
                       <a href="@(folder.Files.Any() ? "javascript;" : "/Docs")" class="dcjq-parent">
                           <i class="fa fa-folder-o"></i>
                           <span>@folder.FolderName</span>
                           @if (folder.Files.Any())
                           {
                               <span class="dcjq-icon"></span>
                           }
                       </a>
                       @if (folder.Files.Any())
                       {
                           <ul class="sub hidden-area">
                               @foreach (var file in folder.Files)
                               {
                                   <li><a href="/Docs/@folder.FolderName/@file.Name"><i class="fa @(file.IsMethod ? "fa-file-text-o" : "fa-cogs") "></i> @file.ToString()</a></li>
                               }
                           </ul>
                       }
                   </li>
               }*@ 
        <!--multi level menu end-->
        <li>
            <a href="https://api.public.infigosoftware.rocks/" class="dcjq-parent">
                <i class="fa fa-cogs"></i><span>API Documentation</span>
            </a>
        </li>
        
        <li>
            <a href="/Docs/embedded_iFrame.html" class="dcjq-parent">
                <i class="fa fa-cogs"></i><span>Embedded iFrame</span>
            </a>
        </li>
    </ul>
    
    <div id="dragbar"></div>
    <!-- sidebar menu end-->
</div>
