﻿@model CatfishApiSharp.Domain.OrderClient.Address

@*
Full name:	brad kaz
Email:	alex.bowell@infigosoftware.com
Phone:
Fax:
Company:
Address Line 1:	address
Address Line 2:
Town:	crawley
County:	West Virginia
Postcode:	rh101tt
Country:	United States
*@

<div class="address-panel row">
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">Full Name:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</div>
    </div>
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">Email:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.Email)</div>
    </div>
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">Phone:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.Telephone)</div>
    </div>
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">Address Line 1:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.AddressLine1)</div>
    </div>
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">Address Line 2:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.AddressLine2)</div>
    </div>
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">Town:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.Town)</div>
    </div>
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">County:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.StateProvince)</div>
    </div>
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">Postcode:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.ZipPostalCode)</div>
    </div>
    <div class="col-md-12 clearfix">
        <label class="col-sm-2 control-label col-lg-2">Country:</label>
        <div class="col-lg-10">@Html.DisplayFor(m => m.Country)</div>
    </div>
</div>