﻿@using CatfishApiSharp.Domain.OrderClient
@model CatfishDemoStore.Models.Order
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row order-detail">
    <div class="col-lg-12">
    <section class="panel">
        @if (Model != null)
        {
            <header class="panel-heading">
                Edit Order: <span class="badge bg-important">@Model.Id</span>
            </header>
            <div class="panel-body clearfix">

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
                        <li role="presentation"><a href="#billing-info" aria-controls="billing-info" role="tab" data-toggle="tab">Billing Info</a></li>
                        <li role="presentation"><a href="#delivery-info" aria-controls="delivery-info" role="tab" data-toggle="tab">Delivery Info</a></li>
                        <li role="presentation"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Products</a></li>
                        <li role="presentation"><a href="#order-notes" aria-controls="order-notes" role="tab" data-toggle="tab">Order Notes</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active order-panel" id="info">
                            <div class="row">
                                <label class="col-sm-3 control-label col-lg-3 vertical-mid"><i class="fa fa-question-circle"></i> Order Status:</label>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" type="button" aria-expanded="false">@Model.Status <span class="caret"></span></button>
                                    <ul role="menu" class="dropdown-menu order-status">
                                        <li><a href="#" data-status="10">@OrderItem.OrderStatus.Open</a></li>
                                        <li><a href="#" data-status="20">@OrderItem.OrderStatus.Paid</a></li>
                                        <li><a href="#" data-status="30">@OrderItem.OrderStatus.Shipped</a></li>
                                        <li><a href="#" data-status="40">@OrderItem.OrderStatus.Complete</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 control-label col-lg-3 vertical-mid"><i class="fa fa-question-circle"></i> Order Id:</label>
                                <span class="vertical-mid">@Model.Id</span>
                            </div>
                            <hr/>
                            <div class="row">
                                <label class="col-sm-3 control-label col-lg-3 vertical-mid"><i class="fa fa-question-circle"></i> Order Total:</label>
                                <span class="vertical-mid">@Model.OrderTotal</span>
                            </div>
                            <hr/>
                            <div class="row">
                                <label class="col-sm-3 control-label col-lg-3 vertical-mid"><i class="fa fa-question-circle"></i> Purchase order number:</label>
                                <span class="vertical-mid">@Model.PurchaseOrderNumber</span>
                                <button class="btn btn-xs btn-danger btn-margin" data-toggle="modal" href="#order-purchase-number">Set Purchase Order Number</button>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane order-panel" id="billing-info">
                            @Html.Partial("Address", Model.BillingAddress)
                        </div>
                        <div role="tabpanel" class="tab-pane order-panel" id="delivery-info">
                            @Html.Partial("Address", Model.ShippingAddress)
                        </div>
                        <div role="tabpanel" class="tab-pane panel-body order-panel" id="products">
                            @Html.Partial("OrderLineItemsList", Model.Products)
                        </div>
                        <div role="tabpanel" class="tab-pane panel-body order-panel" id="order-notes">No Data</div>
                    </div>

                </div>
            </div>
        }
        </section>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
</div>

<div class="modal fade" id="order-purchase-number" tabindex="-1" role="dialog" aria-labelledby="order-purchase-number-label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Set Order Purchase Number</h4>
            </div>
            @using (Html.BeginForm("SetPurchaseOrderNumber", "Order", new { id = (int)ViewBag.OrderId }))
            {
                <div class="modal-body">
                    <textarea id="purchaseOrderNumber" name="purchaseOrderNumber" placeholder="set order purchase number..." style="width: 100%; height: 100%; border: none;"></textarea>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <input type="submit" class="btn btn-info" value="Set value" />
                </div>
            }
        </div>
    </div>
</div>

@section masterjs
{
    <script type="text/javascript">
        $(function () {
            // Handler for .ready() called.
            $(".order-status a").click(function (e) {
                e.preventDefault();
                var dataStatus = $(this).data("status");
                $.get("@Url.Action("SetStatus")", { id: @Model.Id, status: dataStatus }, function (data, status) {
                    window.location.reload();
                });
            });
        });
    </script>
}