﻿@model IEnumerable<CatfishApiSharp.Domain.OrderClient.OrderItem>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Orders
            </header>
            <div class="panel-body">

                <div class="row-fluid margin-bottom order-filter">
                    <div class="dataTables_filter" id="hidden-table-info_filter">
                        @using (Html.BeginForm("SearchByNotes", "Order", FormMethod.Post, new { @id = "orders-search-by-notes" }))
                        {
                            <input id="search-by-notes" name="searchpattern" type="text" class="form-control" aria-controls="hidden-table-info" placeholder="Search by notes" />
                            <button class="btn btn-danger" onclick="$('#orders-search-by-notes').submit();"><i class="fa fa-search"></i> Search</button>
                        }
                    </div>
                </div>

                <section id="unseen">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderTotal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShippingCost)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShippingType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tax)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.UserIdentifier)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.BillingAddress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShippingAddress)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
                                    </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderTotal)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShippingCost)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShippingType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tax)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.UserIdentifier)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BillingAddress.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ShippingAddress.Email)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
                                        </td>*@
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { @id = item.Id }, new { @class = "btn btn-xs btn-danger btn-margin" })
                                        @Html.ActionLink("Reorder", "Reorder", new { id = item.Id }, new { @class = "btn btn-xs btn-info btn-margin" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>
