﻿@model IEnumerable<CatfishApiSharp.Domain.OrderLine.OrderLineItem>
           
<div class="order-line-panel">
    <section id="unseen">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProductId)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.CreatedOnUtc)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                    <th>Preview</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.ProductId)</td>
                        <td>@Html.DisplayFor(model => item.Name)</td>
                        <td>@Html.DisplayFor(model => item.CreatedOnUtc)</td>
                        <td>@Html.DisplayFor(model => item.Price)</td>
                        <td>@Html.DisplayFor(model => item.Quantity)</td>
                        <td>@Html.Raw(item != null && item.ThumbnailUrls != null && item.ThumbnailUrls.Any() ? "<img src=\"" + item.ThumbnailUrls.FirstOrDefault() + "\" />" : "")</td>
                        <td>@Html.DisplayFor(model => item.Status)</td>
                        <td>
                            @Html.ActionLink("Change to shipped", "SetOrderlineStatus", new { id = item.Id, status = 9, orderId = (int)ViewBag.OrderId }, new { @class = "btn btn-xs btn-primary btn-margin" }) <br />
                            @Html.ActionLink("Reorder item", "ReorderItem", new { id = item.Id }, new { @class = "btn btn-xs btn-info btn-margin" }) <br />
                            <a class="btn btn-xs btn-danger btn-margin" data-toggle="modal" href="#orderline-notes" data-item="@item.Id">Set Item Notes</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>

<div class="modal fade" id="orderline-notes" tabindex="-1" role="dialog" aria-labelledby="orderline-notes-label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Set Item Notes</h4>
            </div>
            @using (Html.BeginForm("SetItemNotes", "Order"))
            {
                <div class="modal-body">
                    <textarea id="notes" name="notes" placeholder="set notes here..." style="width: 100%; height: 100%; border: none;"></textarea>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <input type="submit" class="btn btn-info" value="Save changes" />
                </div>
            }
        </div>
    </div>
</div>