﻿@model IEnumerable<CatfishApiSharp.Domain.OrderLine.OrderLineItem>
@{
    ViewBag.Title = "Search by Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Search by Notes
            </header>
            <div class="panel-body">
                <section id="unseen">
                    @Html.Partial("OrderLineItemsList", Model)
                </section>
            </div>
        </section>

    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
</div>