﻿
@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript" src="/Scripts/xdmlib.js"></script>

<h2>Edit Product</h2>

<script type="text/javascript">
    CatfishEditorCommunication.RegisterForCatfishEditorEvent(function (method, itemId) {
        switch(method) {
            case CatfishEditorCommunication.MessageConstants.ItemAddedtoSavedProjects:
                location.href = "/savedprojects";                
                break;
            case CatfishEditorCommunication.MessageConstants.ItemAddedtoBasket:
                location.href = "/cart";
                break;
            default:
                alert("unkown catfish editor event: " + method);
                break;
        }
    }, 'http://@Store.API.URL');   
</script>

<iframe src="@ViewBag.EditorUrl" width="100%" height="900px"></iframe>


