﻿@using CatfishDemoStore.Extensions
@model CatfishDemoStore.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Add New Product
            </header>
            <div class="panel-body">
                <section id="unseen">
                    @using (Html.BeginForm("AddProduct", "Product"))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="hidden" value="@Model.ParentProductId" name="parentProductId" />
                            @if (Model.ParentProductId.HasValue)
                            {
                                <div class="form-group">
                                    <div class="col-md-12">
                                        Template Product Id: @Model.ParentProductId
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-sm-2 control-label col-lg-2">Categories:</label>
                                    <div class="col-lg-10">
                                        @foreach (var category in Model.Categories)
                                        {
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="categories" value="@category.Id" />
                                                    @Html.DisplayCategoryName(category)
                                                </label>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="description">Description:</label>
                                    <input type="text" class="form-control" id="description" name="description">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="price">Price:</label>
                                    <input type="number" class="form-control" id="price" name="price">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Create" class="btn btn-info" />
                                    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
                                </div>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </section>
    </div>
</div>