﻿@using CatfishApiSharp.Domain.Catalog
@model ProductInfo

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            @if (Model != null)
            {
                <header class="panel-heading">
                    Product Details: <strong>@Model.Name</strong>
                </header>
                <div class="panel-body">
                    <section id="unseen">
                        <strong>@Html.DisplayNameFor(model => model.Id):</strong> @Html.DisplayFor(model => model.Id)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Name):</strong> @Html.DisplayFor(model => model.Name)<br/>
                        <strong>@Html.DisplayNameFor(model => model.LongDescription):</strong> @Html.DisplayFor(model => model.LongDescription)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Price):</strong> @Html.DisplayFor(model => model.Price)<br/>
                        <strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong> @Html.DisplayFor(model => model.ShortDescription)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Type):</strong> @Html.DisplayFor(model => model.Type)<br/>
                    </section>
                </div>
            }
            else
            {
                <div class="alert alert-block alert-danger fade in"> Could not load Product details. Check Logs </div>
            }
        </section>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
</div>