﻿@using CatfishDemoStore.Helper
@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript" src="/Scripts/xdmlib.js"></script>

<h2>Edit Product</h2>

<script type="text/javascript">
    CatfishEditorCommunication.RegisterForCatfishEditorEvent(function (method, itemId) {
        switch(method) {
            case CatfishEditorCommunication.MessageConstants.ItemAddedtoSavedProjects:
                location.href = "/savedprojects";
                break;
            case CatfishEditorCommunication.MessageConstants.ItemAddedtoBasket:
            case CatfishEditorCommunication.MessageConstants.ItemAddedToBasketExt:
                location.href = "/cart";
                break;
            default:
                alert("unkown catfish editor event: " + method);
                break;
        }
    }, 'http://@Configuration.CatfishApiBaseAddress');
</script>

<iframe src="@ViewBag.EditorUrl" width="100%" height="900px"></iframe>

<div>
    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
</div>