﻿@using CatfishApiSharp.Domain.Catalog
@model IEnumerable<CatfishDemoStore.Models.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row products-list">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Products
            </header>
            <div class="panel-body">
                <div class="clearfix margin-bottom">
                    <div class="btn-group">
                        <button id="editable-sample_new" class="btn green">
                            @Html.ActionLink("Add New", "Add")
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>

                <section id="unseen" class="list-group">
                    @foreach (var item in Model)
                    {
                        <div class="product-container col-lg-6">
                            <div class="product-box list-group-item">
                                <div class="col-lg-3">
                                    <img style="max-width: 100%" src="@(!string.IsNullOrEmpty(item.ProductArtUrl) ? item.ProductArtUrl : "/Content/Images/no-image.jpg")" alt="Product Thumbnail" />
                                </div>
                                <div class="col-lg-3">
                                    <strong>@Html.DisplayNameFor(model => model.ProductId): </strong>@Html.DisplayFor(modelItem => item.ProductId)<br />
                                    <strong>@Html.DisplayNameFor(model => model.Name): </strong>@Html.DisplayFor(modelItem => item.Name)<br />
                                    <strong>@Html.DisplayNameFor(model => model.Price): </strong>@Html.DisplayFor(modelItem => item.Price)<br />
                                    @if (item.Type == ProductInfo.ItemType.Variable || item.Type == ProductInfo.ItemType.Dynamic)
                                    {
                                        <a href="@Url.Action("Edit", "Product", new { id = item.ProductId })" class="btn btn-xs btn-info btn-margin">
                                            @switch (item.Type)
                                            {
                                                case ProductInfo.ItemType.Dynamic:
                                                    <span><i class="fa fa-magic"></i> Start ME</span>
                                                    break;
                                                case ProductInfo.ItemType.Variable:
                                                default:
                                                    <span><i class="fa fa-shopping-cart"></i> Start CE</span>
                                                    break;
                                            }
                                        </a>
                                    }
                                </div>
                                <div class="col-lg-3">
                                    @Html.ActionLink("Update Details", "UpdateDetails", new { id = item.ProductId }, new { @class = "btn btn-xs btn-danger btn-margin" }) <br />
                                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-xs btn-warning btn-margin" }) <br />
                                    @Html.ActionLink("Add Product Based on this Item", "Add", new { parentProductId = item.ProductId }, new { @class = "btn btn-xs btn-success  btn-margin" }) <br />
                                    @if (item.Type != ProductInfo.ItemType.Dynamic)
                                    {
                                        @Html.ActionLink("Upload Sample Thumbnail and PDF", "UploadThumbnailAndPdf", new { id = item.ProductId }, new { @class = "btn btn-xs btn-primary btn-margin" })
                                        @Html.ActionLink("Upload Variable PDF", "UploadVariablePdf", new { id = item.ProductId }, new { @class = "btn btn-xs btn-primary btn-margin" })
                                    }
                                </div>

                            </div>
                        </div>
                    }
                </section>

            </div>
        </section>
    </div>
</div>

