﻿@using System.Globalization
@model CatfishApiSharp.Domain.Catalog.ProductInfo

@{
    ViewBag.Title = "Update Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            @if (Model != null)
            {
            <header class="panel-heading">
                Product Details: <strong>@Model.Name</strong>
            </header>
                <div class="panel-body">
                    <section id="unseen">
                        @using (Html.BeginForm("UpdateProductDetails", "Product"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input type="hidden" value="@Model.Id" name="id"/>
                                <strong>@Html.DisplayNameFor(model => model.Id):</strong> @Html.DisplayFor(model => model.Id)<br/>
                                <strong>@Html.DisplayNameFor(model => model.Name):</strong> @Html.TextBoxFor(model => model.Name, new {@required = "true", @class = "form-control"})<br/>
                                <strong>@Html.DisplayNameFor(model => model.ShortDescription):</strong> @Html.TextBoxFor(model => model.ShortDescription, new {@class = "form-control"})<br/>
                                <strong>@Html.DisplayNameFor(model => model.Price):</strong>
                                <input type="number" class="form-control" value="@Model.Price.ToString(CultureInfo.CurrentCulture).Replace(",", ".")" name="Price"/><br/>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
                                <input type="submit" value="Update" class="btn btn-success"/>
                            </div>
                        }
                    </section>
                </div>
            }
            else
            {
                <div class="alert alert-block alert-danger fade in"> Could not load Product details. Check Logs </div>
            }
        </section>
    </div>
</div>