﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Infigo Demo Store</title>
        <link rel="shortcut icon" href="https://resources.public.infigosoftware.rocks/logo/notification_navy_coral_40x14.png">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
            </div>
            <!--logo start-->
            <a href="@Url.Action("Index", "Home")" class="logo"></a>
            <!--logo end-->

            <div class="catfish-doc pull-right">
                <a href="@Url.Action("Index", "Docs")" class="catfish-docs-logo"></a>
            </div>

        </header>

        <!--sidebar start-->
        <aside>
            @Html.Partial("Sidebar")
        </aside>
        <!--end sidebar start-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">
                @RenderBody()
            </section>
        </section>
        <!--main content start-->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/common")
        @RenderSection("scripts", required: false)
        @RenderSection("masterjs", required: false)
    </body>
</html>
