﻿
<div id="sidebar" class="nav-collapse" tabindex="5000" style="overflow: hidden; outline: none;">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a href="@Url.Action("Index", "Docs", new { area = "" }, null)" class="dcjq-parent">
                <i class="fa fa-sign-out"></i>
                <span>Docs & API Reference</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="@Url.Action("Index", "Category")" class="dcjq-parent">
                <i class="fa fa-server"></i>
                <span>Categories</span>
                @*<span class="dcjq-icon"></span>*@
            </a>
            @*<ul class="sub hidden-area">
                <li><a href="@Url.Action("Index", "Category")">Manage Categories</a></li>
            </ul>*@
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="@Url.Action("Index", "Product")" class="dcjq-parent">
                <i class="fa fa-file-pdf-o"></i>
                <span>Products</span>
                @*<span class="dcjq-icon"></span>*@
            </a>
            @*<ul class="sub hidden-area">
                <li><a href="@Url.Action("Index", "Product")">Manage Products</a></li>
            </ul>*@
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="@Url.Action("Index", "Cart")" class="dcjq-parent">
                <i class="fa fa-shopping-cart"></i>
                <span>Shopping Cart</span>
            </a>
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="@Url.Action("Index", "Order")" class="dcjq-parent">
                <i class="fa fa-list-alt"></i>
                <span>Orders</span>
                @*<span class="dcjq-icon"></span>*@
            </a>
            @*<ul class="sub hidden-area">
                <li><a href="@Url.Action("Index", "Order")">View Orders</a></li>
            </ul>*@
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="@Url.Action("Index", "User")" class="dcjq-parent">
                <i class="fa fa-users"></i>
                <span>Users</span>
                @*<span class="dcjq-icon"></span>*@
            </a>
            @*<ul class="sub hidden-area">
                <li><a href="@Url.Action("Index", "User")">Manage Users</a></li>
            </ul>*@
        </li>
        <li class="sub-menu dcjq-parent-li">
            <a href="javascript:;" class="dcjq-parent">
                <i class="fa fa-refresh"></i>
                <span>Infigo Sync</span>
                <span class="dcjq-icon"></span>
            </a>
            <ul class="sub hidden-area">
                <li><a href="@Url.Action("HotFolders", "CatfishSync")">Hot Folders</a></li>
                <li><a href="@Url.Action("Index", "CatfishSync")">Print Locations</a></li>
                <li><a href="@Url.Action("UploadLocations", "CatfishSync")">Upload Locations</a></li>
            </ul>
        </li>
        <!--multi level menu end-->
    </ul>
    
    <div id="dragbar"></div>
    <!-- sidebar menu end-->
</div>
