﻿
@{
    ViewBag.Title = "Documentation and API Reference";
    Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}

<!-- page start -->
<div class="row doc-home">

    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                @if (string.IsNullOrEmpty(ViewBag.Content))
                {
                    <h1>Welcome to Infigo</h1>

                    <p>
                        Infigo API is a powerful tool designed to streamline and enhance the integration of print and design services within digital platforms. It offers a comprehensive set of features and functionalities tailored to meet the needs of businesses operating in the printing and graphic design sectors.
                    </p>
                    <p>
                        The API facilitates seamless communication between various software applications, enabling businesses to automate processes such as order management, file handling, and production workflows. With its flexible architecture and extensive documentation, developers can easily integrate the Infigo API into their existing systems, allowing for rapid deployment and customization.
                    </p>
                    <p>
                        Key features of the Infigo API include robust order processing capabilities, support for dynamic product personalization, and real-time production status updates. Additionally, it offers advanced tools for managing user accounts, pricing structures, and inventory levels, empowering businesses to optimize their operations and deliver exceptional customer experiences.
                    </p>
                    <p>
                        By leveraging the Infigo API, businesses can gain a competitive edge in the rapidly evolving print and design industry, offering innovative solutions that drive efficiency, scalability, and customer satisfaction. Whether used to power e-commerce platforms, web-to-print portals, or in-house production systems, the Infigo API provides a solid foundation for businesses looking to succeed in the digital age.
                    </p>
                    <p>
                        For more information and documentation, visit: <a href="https://api.public.infigosoftware.rocks/">https://api.public.infigosoftware.rocks/</a>
                    </p>
                    
                    <div class="endpoint">
                        <h3>Embedded iFrame</h3>
                        <p>
                            It contains information about how to use the embedded iFrame.
                        </p>
                        <ul>
                            <li><a href="/Docs/embedded_iFrame.html">How to use the embedded iFrame</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    @Html.Raw(ViewBag.Content)
                }
            </div>
        </section>
    </div>

</div>
<!-- page end -->