﻿@using CatfishDemoStore.Extensions
@using CatfishDemoStore.Helper
@{
    ViewBag.Title = "Home Page";
}

<h2 class="home-title">Infigo Demo Store</h2>

<!-- page start -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Orders <span class="fa fa-question-circle tooltips" data-original-title="(Latest 5)" data-placement="right"></span>
            </header>
            <div class="panel-body">
                <section id="unseen">
                    @if (Global.Orders.Any())
                    {
                        <table class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>OrderTotal</th>
                                    <th>ShippingCost</th>
                                    <th>ShippingType</th>
                                    <th>Status</th>
                                    <th>Tax</th>
                                    <th>BillingAddress</th>
                                    <th>ShippingAddress</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Global.Orders.OrderByDescending(o => o.Id).Take(5))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderTotal)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShippingCost)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShippingType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tax)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BillingAddress.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ShippingAddress.Email)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", "Order", new {@id = item.Id}, new {@class = "btn btn-xs btn-danger btn-margin"})
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p class="text-center">Currently you don't have any orders</p>
                    }
                </section>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        
        <!-- categories start -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Categories <span class="fa fa-question-circle tooltips" data-original-title="(Latest 5)" data-placement="right"></span>
                    </header>
                    <div class="panel-body">
                        <section id="unseen">
                            @if (Global.Categories.Any())
                            {
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th class="text-center">Has Products</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Global.Categories.OrderByDescending(c => c.Id).Take(5))
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayCategoryName(item)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td class="text-center">
                                                    @if (item.Products.Any())
                                                    {
                                                        <i class="fa fa-check"></i>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p class="text-center">Currently there is no category in the system</p>
                            }

                        </section>
                    </div>
                </section>
            </div>
        </div>
        <!-- categories start -->

    </div>
    <div class="col-sm-6">
        
        <!-- products start -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Products <span class="fa fa-question-circle tooltips" data-original-title="(Latest 5)" data-placement="right"></span>
                    </header>
                    <div class="panel-body">
                        <section id="unseen">
                            @if (Global.Products.Any())
                            {
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Product Id</th>
                                            <th>Name</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Global.Products.OrderByDescending(p => p.ProductId).Take(5))
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ProductId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p class="text-center">Currently there is no product in the system</p>
                            }
                        </section>
                    </div>
                </section>
            </div>
        </div>
        <!-- products start -->

    </div>
</div>
<!-- page end -->