<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Embedded iFrame</h1>
                <p>How to embed the editor into an iFrame:</p>
                <ul class="enumerator-list">
                    <li>
                        Create an iFrame on your page where you'd like to embed the editor. Please use <a href="https://api.public.infigosoftware.rocks/#/paths/editor-linkfor/get" class="underline">Link for editor</a> method to receive the url to the editor.
                        This method will create a link to embed the editor into an iFrame. This link will authenticate the user and is only valid for a short period of time.
                        It needs to specific the product id and optionally the orderline item id in case an existing product (basket item/saved project) needs to be edited.
                    </li>
                    <li>
                        Please insert the <a href="/Scripts/xdmlib.js" class="underline">xdmlib.js</a> script on your page.
                        This script will establish the communication between the iFrame and the parent page.
                    </li>
                    <li>
                        Register for the Catfish/MegaEdit editor events. <br />
                        In order to register for the Catfish events you have to configure
                        the source url. The source url is the base location address of the catfish platform.
                        At the moment there are three editor events:
                        <ul>
                            <li>
                                <strong>ItemSavedProject</strong> - Once the user will press <i>"Saved Project"</i> button in the editor,
                                the project will be saved and the setup will fire this event with an id (the saved project id),
                                so next time you can reopen the saved project and continue editing on it.
                            </li>
                            <li>
                                <strong>ItemAddedToBasket</strong> - Once the user will press <i>"Add to basket"</i> button in the editor,
                                the project will be added to basket and the setup will fire this event with an id (the job order id),
                                so next time you can reopen the saved project and continue doing some amendments there. Please note,
                                that during this process, the project will be added to basket and you can do the checkout.
                            </li>
                            <li>
                                <strong>ItemAddedToBasketExt</strong> - This event is equivalent with the previous one, ItemAddedToBasket.
                                One important thing, only MegaEdit editor throws this event and besides the id (the job order id), it will
                                be additional data, additional job info (Canvas, CanvasSize, NumPages, OutputType, SpineWidth, Weight, Stock,
                                Width, Height, IsDynamicSize, Price, etc.).
                            </li>
                        </ul>
                    </li>
                </ul>

                <p>Below, You can find an example about how to embed an iFrame in your page.</p>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
&lt;script type=&quot;text/javascript&quot; src=&quot;/Scripts/xdmlib.js&quot;&gt;&lt;/script&gt;

&lt;script type=&quot;text/javascript&quot;&gt;
    CatfishEditorCommunication.RegisterForCatfishEditorEvent(function (method, dData) {
        alert(&quot;Event Received: &quot; + method);
        alert(dData);
        switch (method) {
            case CatfishEditorCommunication.MessageConstants.ItemAddedtoSavedProjects:
                break;
            case CatfishEditorCommunication.MessageConstants.ItemAddedtoBasket:
                break;
            case CatfishEditorCommunication.MessageConstants.ItemAddedToBasketExt:
                break;
            case CatfishEditorCommunication.MessageConstants.EditorLoaded:
                break;
            default:
                alert(&quot;unknown catfish editor event: &quot; + method);
                break;
        }
    }, 'https://{website.com}');
&lt;iframe src=&quot;@ViewBag.EditorUrl&quot; width=&quot;100%&quot; height=&quot;900px&quot;&gt;&lt;/iframe&gt;</pre>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->