<!-- page start -->
<div class="row">

    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
               
                <h3>Welcome to Catfish</h3>
                
                <p>
                    The Catfish API is built upon ASP.NET MVC 4 WebAPI. It supports XML and JSON content types. <br />
                    The APi is protected by an API Authentication Token, which must be sent within the Basic Authentication Header.
                </p>
            </div>
        </section>
    </div>

</div>
<!-- page end -->