<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.Address Class</h1>
                <p>Represents address details of a customer</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.Domain.OrderClient</h6>
                <h6>Member of CatfishApiSharp.Domain.OrderClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public class Address</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#Properties">Properties</h2>
                <div class="collapse in" id="Properties">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>string</td>
                                <td>AddressLine1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>AddressLine2 </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>Country </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>Email </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>FirstName </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>LastName </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>StateProvince </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>Telephone </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>Town </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>ZipPostalCode </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->