<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.OrderItem Class</h1>
                <p>Represents order item details</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.Domain.OrderClient</h6>
                <h6>Member of CatfishApiSharp.Domain.OrderClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public class OrderItem</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#Properties">Properties</h2>
                <div class="collapse in" id="Properties">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>int</td>
                                <td>Id</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="/Docs/Order/Address">CatfishApiSharp.Domain.OrderClient.Address</a></td>
                                <td>BillingAddress</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string[]</td>
                                <td>OrderLineItems</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>decimal</td>
                                <td>OrderTotal</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>PurchaseOrderNumber</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="/Docs/Order/Address">CatfishApiSharp.Domain.OrderClient.Address</a></td>
                                <td>ShippingAddress</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>decimal</td>
                                <td>ShippingCost</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>ShippingType</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="/Docs/Order/OrderItem.OrderStatus">CatfishApiSharp.Domain.OrderClient.OrderItem.OrderStatus</a></td>
                                <td>Status</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>decimal</td>
                                <td>Tax</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>System.Guid</td>
                                <td>UserIdentifier</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->