<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.ChangeOrderStatus Method</h1>
                <p>Change the status for an order.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Order</h6>
                <h6><strong>Class:</strong> Order</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.Order.IOrderClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public void ChangeOrderStatus(
    int id, 
    OrderStatus newStatus
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                        <p class="padding-left">
                            Type: <strong>int</strong> <br/>
                            Product identifier
                        </p>
                        <i>newStatus</i> <br />
                        <p class="padding-left">
                            Type: <strong>CatfishApiSharp.Domain.OrderClient.OrderItem.OrderStatus</strong> <br/>
                            New status for specific order. Possible values: Complete, Open, Paid, Shipped
                        </p>
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.Catalog;
using CatfishApiSharp.Domain.OrderClient;

namespace Infigo.Examples.Order
{
    class ChangeOrderStatus
    {
        static void Main_ChangeOrderStatus()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                /*
                 * OrderStatus:
                 * Complete
                 * Open
                 * Paid
                 * Shipped
                 */
                var orderId = 1;
                catfishApiClient.Order.ChangeOrderStatus(orderId, OrderItem.OrderStatus.Complete);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}

                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/Order/-Order">Order Class</a><br />
                        <a href="/Docs/Order/OrderStatus">OrderStatus Enum</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->