<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.GetOrderInfo Method</h1>
                <p>Get detailed information for a user order within the system</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Order</h6>
                <h6><strong>Class:</strong> Order</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.Order.IOrderClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public OrderItem GetOrderInfo(
    int id
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                    <p class="padding-left">
                        Type: <strong>int</strong> <br />
                        Order id to get details for <br />
                        Sample and type: Int32: 28
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/Order/-OrderItem">OrderItem Class</a></strong> <br />
                        Object containing Order details
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleRequest">Sample request</h2>
                <div id="SampleRequest" class="collapse in">
                    <pre class="csharp">services/api/Order/Detail/28</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">{"Id":415,"UserIdentifier":"74b3b8b1-4621-440a-a128-e09707f3e633","OrderLineItems":["v293","v305","v306"],"Status":20,"BillingAddress":{"FirstName":"Magareth","LastName":"Smith","AddressLine1":"FrontHill3","AddressLine2":null,"AddressLine3":null,"Town":"Brightes","ZipPostalCode":"TQ7 1BD","StateProvince":"Devon","Country":"United Kingdom","Email":null,"Telephone":null},"ShippingAddress":{"FirstName":"John","LastName":"Smith","AddressLine1":"Front Hill4","AddressLine2":null,"AddressLine3":null,"Town":"Brightes","ZipPostalCode":"TQ7 1BD","StateProvince":"Devon","Country":"United Kingdom","Email":"john.smith@web.co.uk","Telephone":null},"ShippingType":"Standard","ShippingCost":4.95,"Tax":1.73,"OrderTotal":18.28}</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;OrderItem xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Web.Areas.API.Models&quot;&gt;
	&lt;BillingAddress&gt;
		&lt;AddressLine1&gt;Front Hill 3&lt;/AddressLine1&gt;
		&lt;AddressLine2 i:nil=&quot;true&quot; /&gt;
		&lt;AddressLine3 i:nil=&quot;true&quot; /&gt;
		&lt;Country&gt;United Kingdom&lt;/Country&gt;
		&lt;Email i:nil=&quot;true&quot; /&gt;
		&lt;FirstName&gt;Magareth&lt;/FirstName&gt;
		&lt;LastName&gt;Smith&lt;/LastName&gt;
		&lt;StateProvince&gt;Devon&lt;/StateProvince&gt;
		&lt;Telephone i:nil=&quot;true&quot; /&gt;
		&lt;Town&gt;Brightes&lt;/Town&gt;
		&lt;ZipPostalCode&gt;TQ7 1BD&lt;/ZipPostalCode&gt;
	&lt;/BillingAddress&gt;
	&lt;Id&gt;415&lt;/Id&gt;
	&lt;OrderLineItems xmlns:d2p1=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
		&lt;d2p1:string&gt;v293&lt;/d2p1:string&gt;
		&lt;d2p1:string&gt;v305&lt;/d2p1:string&gt;
		&lt;d2p1:string&gt;v306&lt;/d2p1:string&gt;
	&lt;/OrderLineItems&gt;
	&lt;OrderTotal&gt;18.28&lt;/OrderTotal&gt;
	&lt;ShippingAddress&gt;
		&lt;AddressLine1&gt;Front Hill 4&lt;/AddressLine1&gt;
		&lt;AddressLine2 i:nil=&quot;true&quot; /&gt;
		&lt;AddressLine3 i:nil=&quot;true&quot; /&gt;
		&lt;Country&gt;United Kingdom&lt;/Country&gt;
		&lt;Email&gt;john.smith@web.co.uk&lt;/Email&gt;
		&lt;FirstName&gt;John&lt;/FirstName&gt;
		&lt;LastName&gt;Smith&lt;/LastName&gt;
		&lt;StateProvince&gt;Devon&lt;/StateProvince&gt;
		&lt;Telephone i:nil=&quot;true&quot; /&gt;
		&lt;Town&gt;Brightes&lt;/Town&gt;
		&lt;ZipPostalCode&gt;TQ7 1BD&lt;/ZipPostalCode&gt;
	&lt;/ShippingAddress&gt;
	&lt;ShippingCost&gt;4.95&lt;/ShippingCost&gt;
	&lt;ShippingType&gt;Standard&lt;/ShippingType&gt;
	&lt;Status&gt;Paid&lt;/Status&gt;
	&lt;Tax&gt;1.73&lt;/Tax&gt;
	&lt;UserIdentifier&gt;74b3b8b1-4621-440a-a128-e09707f3e633&lt;/UserIdentifier&gt;
&lt;/OrderItem&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.OrderClient;
namespace Infigo.Examples.Order
{
    class GetOrderInfo
    {
        static void Main_GetOrderInfo()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // Get the order list of a specific user
                IEnumerable&lt;int&gt; orderIds = catfishApiClient.Order.GetOrderListForUser(Guid.NewGuid(), null);
                foreach (var id in orderIds)
                {
                    // get details about each found order id
                    OrderItem orderInfo = catfishApiClient.Order.GetOrderInfo(id);
                    Console.WriteLine("Id: {0}; OrderStatus: {1}", orderInfo.Id, orderInfo.Status);
                }
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                    </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/Catalog/ProductInfo">OrderItem Class</a><br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->