<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.GetOrderListForUser Method</h1>
                <p>Get a list of order ids for the specified user.An optional status filter can be used to get only open, paid, shipped
or completed orders.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Order</h6>
                <h6><strong>Class:</strong> Order</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public IEnumerable&lt;int&gt; GetOrderListForUser(
    string userId, 
    OrderStatus? filterByStatus
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>userId</i> <br />
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            User Guid identifier <br />
                            Sample and type: Guid: b535a51e-b671-4607-8da5-164cae7a9ab8
                        </p>
                        <i>filterByStatus</i> <br />
                        <p class="padding-left">
                            Type: <strong>OrderStatus?</strong> <br/>
                            (Optional) status type to filter the order by <br />
                            Sample and type: 10 <br />
                            Possible Values <br />
                            Open = 10, <br />
                            Paid = 20, <br />
                            Shipped = 30, <br />
                            Complete = 40 
                        </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong>IEnumerable&lt;int&gt;</strong> <br />
                        Array of Integers
                    </p>
                </div>
                
                <h2 data-toggle="collapse" data-target="#SampleRequest">Sample request</h2>
                <div id="SampleRequest" class="collapse in">
                    <pre class="csharp">services/api/Order/List/310?filterByStatus=10</pre>
                </div>
                
                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">[393,415,416,1048]</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;ArrayOfint xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
    &lt;int&gt;393&lt;/int&gt;
    &lt;int&gt;415&lt;/int&gt;
    &lt;int&gt;416&lt;/int&gt;
    &lt;int&gt;1048&lt;/int&gt;
&lt;/ArrayOfint&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.OrderClient;
namespace Infigo.Examples.Order
{
    class GetOrderListForUser
    {
        static void Main_GetOrderListForUser()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                Guid userId = Guid.NewGuid();
                OrderItem.OrderStatus filterStatus = OrderItem.OrderStatus.Paid;
                // Get the list of existing orders Ids for a specific user
                IEnumerable<int> orderIds = catfishApiClient.Order.GetOrderListForUser(userId, filterStatus);
                foreach (var id in orderIds)
                {
                    // get details about each found order id
                    OrderItem orderInfo = catfishApiClient.Order.GetOrderInfo(id);
                    Console.WriteLine("Id: {0}; OrderStatus: {1}", orderInfo.Id, orderInfo.Status);
                }
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                    </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->