<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.GetOrderLineItemInfo Method</h1>
                <p>Get detailed information for a order product item within the system</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Order</h6>
                <h6><strong>Class:</strong> Order</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public CatfishApiSharp.Domain.OrderLine.OrderLineItem GetOrderLineItemInfo(
    string id
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            Product identifier
                        </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/OrderLine/OrderLineItem">OrderLineItem Class</a></strong> <br />
                        Object containing order item details
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.Order
{
    class GetOrderLineItemInfo
    {
        static void Main_GetOrderLineItemInfo()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                var orderLineId = "1x";
                CatfishApiSharp.Domain.OrderLine.OrderLineItem orderLineItem =
                    catfishApiClient.Order.GetOrderLineItemInfo(orderLineId);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/OrderLine/OrderLineItem">OrderLineItem Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->