<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.PlaceOrder Method</h1>
                <p>Place a new order. All items in the current shopping basket of the user will be ordered. Optionally, a shipping
and billing address as well as a shipping method can be specified which will be used for this order. The new
order id will be returned.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Order</h6>
                <h6><strong>Class:</strong> Order</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public int PlaceOrder(
    System.Guid userId, 
    OrderClient.Address shippingAddress, 
    OrderClient.Address billingAddress,
    string shippingMethod, 
    bool isPaid
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>id</i>
                        <p class="padding-left">
                            Type: <strong>System.Guid</strong> <br />
                            User identifier
                        </p>
                        <i>shippingAddress</i>
                        <p class="padding-left">
                            Type: <strong>OrderClient.Address</strong> <br />
                            Optional: will use this address for shipping. If not set, the customers default shipping address will be used
                        </p>
                        <i>billingAddress</i>
                        <p class="padding-left">
                            Type: <strong>OrderClient.Address</strong> <br />
                            Optional: will use this address for billing. If not set, the customers default billing address will be used
                        </p>
                        <i>shippingMethod</i>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br />
                            Optional: The shipping method to use. If not set, the stores default shipping method will be used <br />
                            Sample and type: String: "Standard"
                        </p>
                        <i>isPaid</i>
                        <p class="padding-left">
                            Type: <strong>System.Boolean</strong> <br />
                            Optional: Flag, if the order should be automatically marked as paid. Default is false <br />
                            Sample and type Boolean: false
                        </p>
                    </div>
                    
                    <h5><strong>Return Value</strong></h5>
                    <div>
                        <p>
                            Type: <strong>int</strong> <br />
                            Order id
                        </p>
                    </div>
                </div>
                
                <h2 data-toggle="collapse" data-target="#SampleRequest">Sample request</h2>
                <div id="SampleRequest" class="collapse in">
                    <pre class="csharp">
services/api/Order/PlaceOrder/35289318-4d6d-4eb9-bf6b-715e13e843a3
Request Body (Billing address will be not changed)
{
    "shippingAddress":
    {
        "FirstName":"John",
        "LastName":"Smith",
        "AddressLine1":"Front Hill 4",
        "AddressLine2":null,
        "AddressLine3":null,
        "Town":"Brightes",
        "ZipPostalCode":"TQ7 1BD",
        "StateProvince":"Devon",
        "Country":"United Kingdom",
        "Email":"john.smith@web.co.uk",
        "Telephone":null
    },
    "shippingMethod": "Standard",
    "paid", true
}
</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example</h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.Order
{
    class PlaceOrder
    {
        static void Main_PlaceOrder()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                Guid userId = Guid.NewGuid();
                var shippingAddress = new CatfishApiSharp.Domain.OrderClient.Address();
                var billingAddress = new CatfishApiSharp.Domain.OrderClient.Address();
                var shippingMethod = "DHL";
                bool isPaid = true;
                var orderId = catfishApiClient.Order.PlaceOrder(userId, shippingAddress, billingAddress, shippingMethod, isPaid);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
                   </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->