<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.SetPurchaseOrderNumber Method</h1>
                <p>Set purchase order number of a specific order in the system</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Order</h6>
                <h6><strong>Class:</strong> Order</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public void SetPurchaseOrderNumber(
    int id, 
    string purchaseOrderNumber
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>id</i>
                        <p class="padding-left">
                            Type: <strong>int</strong> <br />
                            Order identifier
                        </p>
                        <i>purchaseOrderNumber</i>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br />
                            Purchase Order Number
                        </p>
                    </div>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example</h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.Order
{
    class SetPurchaseOrderNumber
    {
        static void Main_SetPurchaseOrderNumber()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);

            try
            {
                int orderId = 12345;
                string purchaseOrderNumber = "MB123456789";
                // set purchase order number of a specific order
                catfishApiClient.Order.SetPurchaseOrderNumber(orderId, purchaseOrderNumber);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}                   </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->