<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>Order.UpdateOrderLineItemInfo Method</h1>
                <p>Update order item details</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.Order</h6>
                <h6><strong>Class:</strong> Order</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public void UpdateOrderLineItemInfo(
    string id, 
    ItemStatus newStatus
)

public void UpdateOrderLineItemInfo(
    OrderLineItem item,
    ItemStatus newStatus
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>id</i>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br />
                            OrderLineItem identifier
                        </p>
                        <i>newStatus</i>
                        <p class="padding-left">
                            Type: <strong>ItemStatus</strong> <br />
                            Item Status
                        </p>
                    </div>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example</h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.OrderLine;
namespace Infigo.Examples.Order
{
    class UpdateOrderLineItemInfo
    {
        static void Main_UpdateOrderLineItemInfo()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);

            try
            {
                string orderLineItemId = "x1";
                var status = OrderLineItem.ItemStatus.Approved;

                // update order line item details by specifying the id
                catfishApiClient.Order.UpdateOrderLineItemInfo(orderLineItemId, (OrderLineItem.ItemStatus)status);

                var orderLineItem = new CatfishApiSharp.Domain.OrderLine.OrderLineItem();

                // update order line item details by specifying the OrderLineItem object
                catfishApiClient.Order.UpdateOrderLineItemInfo(orderLineItem, (OrderLineItem.ItemStatus)status);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}                   </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->