﻿@model IEnumerable<CatfishApiSharp.Domain.HotFolder>
@{
    ViewBag.Title = "Hot Folders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Hot Folders
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.PrintLocationId)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Folder)</th>
                                <th>@Html.DisplayNameFor(model => model.Enabled)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.Id)</td>
                                    <td>@Html.DisplayFor(model => item.PrintLocationId)</td>
                                    <td>@Html.DisplayFor(model => item.Name)</td>
                                    <td>@Html.DisplayFor(model => item.Folder)</td>
                                    <td>@Html.DisplayFor(model => item.Enabled)</td>
                                    <td>@Html.DisplayFor(model => item.Description)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to Print Locations list</a>
</div>
