﻿@using CatfishDemoStore.ViewModel
@model IEnumerable<CatfishApiSharp.Domain.PrintLocation>
@{
    ViewBag.Title = "Print Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Print Locations
            </header>
            <div class="panel-body">
                @if (TempData["CatfishSyncTestData"] != null && (TempData["CatfishSyncTestData"] as List<MessageViewModel>).Any())
                {
                    <div class="margin-bottom">
                        @foreach (var message in (TempData["CatfishSyncTestData"] as List<MessageViewModel>))
                        {
                            var messageClass = "bg-info";
                            switch (message.MessageType)
                            {
                                case MessageType.Error:
                                    messageClass = "alert alert-block alert-danger fade in";
                                    break;
                                case MessageType.Info:
                                    messageClass = "alert alert-warning fade in";
                                    break;
                                case MessageType.Success:
                                    messageClass = "alert alert-success fade in";
                                    break;
                            }

                            <div class="col-lg-12 @messageClass">
                                <button data-dismiss="alert" class="close close-sm" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                @message.Message
                            </div>
                        }
                    </div>
                }
                <div class="row-fluid margin-bottom order-filter">
                    <div class="dataTables_filter" id="hidden-table-info_filter">
                        @using (Html.BeginForm("Index", "CatfishSync", FormMethod.Get, new { @id = "catfishsync-print-locations" }))
                        {
                            <input id="print-location-name" name="name" type="text" class="form-control" aria-controls="hidden-table-info" placeholder="Search by name" value="@(!string.IsNullOrEmpty(Request.QueryString["name"])? Request.QueryString["name"]: string.Empty)" />
                            <button class="btn btn-danger" onclick=" $('#catfishsync-print-locations').submit(); "><i class="fa fa-search"></i> Search</button>
                        }
                    </div>
                </div>
                <section id="unseen">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                <th>@Html.DisplayNameFor(model => model.AccountId)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.Id)</td>
                                    <td>@Html.DisplayFor(model => item.Name)</td>
                                    <td>@Html.DisplayFor(model => item.Description)</td>
                                    <td>@Html.DisplayFor(model => item.AccountId)</td>
                                    <td>
                                        @if (item != null)
                                        {
                                            @Html.ActionLink("Hot Folders List", "HotFoldersListForPrintLocation", new {id = item.Id}, new {@class = "btn btn-xs btn-info btn-margin"})<text> | </text>
                                            @Html.ActionLink("Download Test", "DownloadTest", new { printLocationName = item.Name }, new { @class = "btn btn-xs btn-info btn-margin" })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </section>
            </div>
        </section>

    </div>
</div>
