﻿@model IEnumerable<CatfishApiSharp.Domain.UploadLocation>
@{
    ViewBag.Title = "Upload Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Upload Locations
            </header>
            <div class="panel-body">
                <div class="row-fluid margin-bottom order-filter">
                    <div class="dataTables_filter" id="hidden-table-info_filter">
                        @using (Html.BeginForm("UploadLocations", "CatfishSync", FormMethod.Get, new { @id = "catfishsync-upload-locations" }))
                        {
                            <input id="upload-location-name" name="name" type="text" class="form-control" aria-controls="hidden-table-info" placeholder="Search by name" value="@(!string.IsNullOrEmpty(Request.QueryString["name"])? Request.QueryString["name"]: string.Empty)" />
                            <button class="btn btn-danger" onclick=" $('#catfishsync-upload-locations').submit(); "><i class="fa fa-search"></i> Search</button>
                        }
                    </div>
                </div>
                <section id="unseen">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th>@Html.DisplayNameFor(model => model.Enabled)</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Id)</td>
                                <td>@Html.DisplayFor(model => item.Name)</td>
                                <td>@Html.DisplayFor(model => item.Description)</td>
                                <td>@Html.DisplayFor(model => item.Enabled)</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
    </div>
</div>


