﻿@using Store
@model Store.Category
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Category</legend>
    <div>@Html.DisplayFor(model => model.Name) | @Html.DisplayFor(model => model.Description)</div>   
    <div>
        @foreach (Product product in Model.Products)
            {
                <div style="display:inline-block">
                    @product.Name<br />
                    <img src="@product.ProductArtUrl"/><br />
                    <a href="@Url.Action("Edit", "Product", new { id = product.ProductId })">Order</a>
                </div>
            }
    </div>    
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
