﻿@model IEnumerable<Store.CartItem>
@{
    ViewBag.Title = "Index";
}
<h2>
    Saved Projects</h2>
<table class="overviewTable">
    <tr>
        <th>
            Line Item Id
        </th>
        <th>
            Product Id
        </th>
        <th>
            Name
        </th>
        <th>    
            Preview        
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LineItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.Thumbnail" />
            </td>
            <td>
                @Html.ActionLink("Edit", "EditExisting", "Product", new { lineItemId = item.LineItemId, productId = item.ProductId }, null)|
                @Html.ActionLink("Delete", "Delete", new
                {
                    id = item.LineItemId
                
                })
            </td>
        </tr>
    }
</table>
