<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>UserClient.GetCustomerSingleSignOnUrl Method</h1>
                <p>Returns an individual URL to login a user. It will create the user if required and returns the login URL which will automatically login the user into Catfish. Additionally, it will return the cookie ticket and a creation flag.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.User</h6>
                <h6><strong>Class:</strong> UserClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax1">Syntax 1</h2>
                <div class="collapse in" id="Syntax1">
                    <pre class="csharp">
public CustomerSSOResult GetCustomerSingleSignOnUrl(
    Guid id, 
    string returnUrl = null, 
    string errorUrl = null
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br/>
                        <p class="padding-left">
                            Type: <strong>Guid</strong> <br/>
                            Guid of the user
                        </p>
                        <i>returnUrl</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            The URL the user should be redirected to after successful authorization. Can be null to return to the home page.
                        </p>
                        <i>errorUrl</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            The URL the user should be redirected to after a failed authorization. Can be null to return to the home page.
                        </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/User/CustomerSSOResult">CustomerSSOResult</a></strong> <br />
                        Customer Singe sign on result
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#Syntax2">Syntax 2</h2>
                <div class="collapse in" id="Syntax2">
                    <pre class="csharp">
public CustomerSSOResult GetCustomerSingleSignOnUrl(
    string id, 
    string returnUrl = null, 
    string errorUrl = null
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            Guid of the user as string
                        </p>
                        <i>returnUrl</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            The URL the user should be redirected to after successful authorization. Can be null to return to the home page.
                        </p>
                        <i>errorUrl</i> <br/>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br/>
                            The URL the user should be redirected to after a failed authorization. Can be null to return to the home page.
                        </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/User/CustomerSSOResult">CustomerSSOResult</a></strong> <br/>
                        Customer Singe sign on result
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">{"CreatedUser":true,"LoginUrl":"stringvalue","Token":{"CookieName":"stringvalue","Token":"stringvalue"}}</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;ApiCustomerSSOResult xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Web.Areas.API.Models&quot; xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;
   &lt;CreatedUser&gt;true&lt;/CreatedUser&gt;
   &lt;LoginUrl&gt;stringvalue&lt;/LoginUrl&gt;
   &lt;Token&gt;
      &lt;CookieName&gt;stringvalue&lt;/CookieName&gt;
      &lt;Token&gt;stringvalue&lt;/Token&gt;
   &lt;/Token&gt;
&lt;/ApiCustomerSSOResult&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.User;

namespace Infigo.Examples.User
{
    class GetCustomerSingleSignOnUrl
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // using the Guid
                CustomerSSOResult customerSSOResult1 = catfishApiClient.User.GetCustomerSingleSignOnUrl(new Guid(), "/admin");
                Console.WriteLine("Generated url for admin site: {0}", customerSSOResult1.LoginUrl);
                // using the Guid as string
                CustomerSSOResult customerSSOResult2 = catfishApiClient.User.GetCustomerSingleSignOnUrl(new Guid().ToString());
                Console.WriteLine("Generated url for fron end site: {0}", customerSSOResult2.LoginUrl);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}

                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br />
                        <a href="/Docs/User/CustomerSSOResult">CustomerSSOResult</a><br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->