<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>UserClient.GetCustomerCookieToken Method</h1>
                <p>Returns cookie ticket based on user Guid passed in. It will also create a new user in the system if it doesnt exist.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.User</h6>
                <h6><strong>Class:</strong> UserClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax1">Syntax 1</h2>
                <div class="collapse in" id="Syntax1">
                    <pre class="csharp">
public CustomerToken GetCustomerCookieToken(
    Guid id
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                    <p class="padding-left">
                        Type: <strong>Guid</strong> <br />
                        Guid of the user
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/User/CustomerToken">CustomerToken</a></strong> <br />
                        Cookie ticket
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#Syntax2">Syntax 2</h2>
                <div class="collapse in" id="Syntax2">
                    <pre class="csharp">
public CustomerToken GetCustomerCookieToken(
    string id
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                    <p class="padding-left">
                        Type: <strong>string</strong> <br />
                        Guid of the user as string
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/User/CustomerToken">CustomerToken</a></strong> <br />
                        Cookie ticket
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.User;
namespace Infigo.Examples.User
{
    class GetCustomerCookieToken
    {
        static void Main()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // using the Guid
                CustomerToken customerToken1 = catfishApiClient.User.GetCustomerCookieToken(new Guid());
                // using the Guid as string
                CustomerToken customerToken2 = catfishApiClient.User.GetCustomerCookieToken(new Guid().ToString());
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}

                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br />
                        <a href="/Docs/User/CustomerToken">CustomerToken</a><br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->