<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>UserClient.Migrate Method</h1>
                <p>Migrates all data (basket, saved projects, images) for a specific user A (usually a guest) to another existing user B.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.User</h6>
                <h6><strong>Class:</strong> UserClient</h6>

                <h2 data-toggle="collapse" data-target="#Syntax1">Syntax</h2>
                <div class="collapse in" id="Syntax1">
                    <pre class="csharp">
public void Migrate(
    Guid fromCustomer, 
    Guid toCustomer
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>fromCustomer</i> <br />
                    <p class="padding-left">
                        Type: <strong>Guid</strong> <br />
                        The user identifier (Guid) of the source user
                    </p>
                    <i>toCustomer</i> <br />
                    <p class="padding-left">
                        Type: <strong>Guid</strong> <br />
                        The user identifier (Guid) of the target user
                    </p>
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.User
{
    class Migrate
    {
        static void Main_Migrate()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            var fromCustomer = new Guid("14031df6-7411-40e6-9c45-dc6612c0da70");
            var toCustomer = new Guid();
            try
            {
                // migrating data
                catfishApiClient.User.Migrate(fromCustomer, toCustomer);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}

                </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a><br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->