﻿@model Store.Models.CatfishSyncTestData
@{
    ViewBag.Title = "Catfish Sync Testing";
}

<h2>Catfish Sync Testing</h2>

<div>
<h3>Available Actions</h3>

<h4>Test download for print location</h4>
@{
    var printLocations = ViewBag.PrintLocations as IEnumerable<string>;
}

@if (printLocations != null && printLocations.Count() > 0)
{
    <ul>
    @foreach (var printLocation in printLocations)
    {
        <li>@printLocation: @Html.ActionLink("Download Test", "DownloadTest", new { printLocationName = printLocation })</li>
    }
    </ul>
}
else
{
    <b>No print locations found on the server</b>
}

</div>

@if (Model != null)
{
    <hr />

    <h3>Previous information</h3>
    
    <h4>@Model.Test</h4>
    
    <ol>
    @foreach (var message in @Model.Messages)
    {
        <li>@message</li>
    }
    </ol>
}
