﻿@model CatfishApiSharp.Domain.Customer

@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            @if (Model != null)
            {
                <header class="panel-heading">
                    Customer Details: <strong>@Model.Email</strong>
                </header>
                <div class="panel-body">
                    <section id="unseen">
                        <strong>@Html.DisplayNameFor(model => model.Active):</strong> @Html.DisplayFor(model => model.Active)<br/>
                        <strong>@Html.DisplayNameFor(model => model.AdminContent):</strong> @Html.DisplayFor(model => model.AdminContent)<br/>
                        <strong>@Html.DisplayNameFor(model => model.AffiliateId):</strong> @Html.DisplayFor(model => model.AffiliateId)<br/>
                        <strong>@Html.DisplayNameFor(model => model.City):</strong> @Html.DisplayFor(model => model.City)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Company):</strong> @Html.DisplayFor(model => model.Company)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Country):</strong> @Html.DisplayFor(model => model.Country)<br/>
                        <strong>@Html.DisplayNameFor(model => model.CreatedOn):</strong> @Html.DisplayFor(model => model.CreatedOn)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Custom1):</strong> @Html.DisplayFor(model => model.Custom1)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Custom2):</strong> @Html.DisplayFor(model => model.Custom2)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Custom3):</strong> @Html.DisplayFor(model => model.Custom3)<br/>
                        <strong>@Html.DisplayNameFor(model => model.CustomerRoleNames):</strong> @Html.DisplayFor(model => model.CustomerRoleNames)<br/>
                        <strong>@Html.DisplayNameFor(model => model.DateOfBirth):</strong> @Html.DisplayFor(model => model.DateOfBirth)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Email):</strong> @Html.DisplayFor(model => model.Email)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Fax):</strong> @Html.DisplayFor(model => model.Fax)<br/>
                        <strong>@Html.DisplayNameFor(model => model.FirstName):</strong> @Html.DisplayFor(model => model.FirstName)<br/>
                        <strong>@Html.DisplayNameFor(model => model.FullName):</strong> @Html.DisplayFor(model => model.FullName)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Gender):</strong> @Html.DisplayFor(model => model.Gender)<br/>
                        <strong>@Html.DisplayNameFor(model => model.IsTaxExempt):</strong> @Html.DisplayFor(model => model.IsTaxExempt)<br/>
                        <strong>@Html.DisplayNameFor(model => model.LastActivityDate):</strong> @Html.DisplayFor(model => model.LastActivityDate)<br/>
                        <strong>@Html.DisplayNameFor(model => model.LastIpAddress):</strong> @Html.DisplayFor(model => model.LastIpAddress)<br/>
                        <strong>@Html.DisplayNameFor(model => model.LastName):</strong> @Html.DisplayFor(model => model.LastName)<br/>
                        <strong>@Html.DisplayNameFor(model => model.LastVisitedPage):</strong> @Html.DisplayFor(model => model.LastVisitedPage)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Password):</strong> @Html.DisplayFor(model => model.Password)<br/>
                        <strong>@Html.DisplayNameFor(model => model.Phone):</strong> @Html.DisplayFor(model => model.Phone)<br/>
                        <strong>@Html.DisplayNameFor(model => model.PromotionCardNumber):</strong> @Html.DisplayFor(model => model.PromotionCardNumber)<br/>
                        <strong>@Html.DisplayNameFor(model => model.PromotionCardPoints):</strong> @Html.DisplayFor(model => model.PromotionCardPoints)<br/>
                        <strong>@Html.DisplayNameFor(model => model.StateProvince):</strong> @Html.DisplayFor(model => model.StateProvince)<br/>
                        <strong>@Html.DisplayNameFor(model => model.StreetAddress):</strong> @Html.DisplayFor(model => model.StreetAddress)<br/>
                        <strong>@Html.DisplayNameFor(model => model.StreetAddress2):</strong> @Html.DisplayFor(model => model.StreetAddress2)<br/>
                        <strong>@Html.DisplayNameFor(model => model.TimeZoneId):</strong> @Html.DisplayFor(model => model.TimeZoneId)<br/>
                        <strong>@Html.DisplayNameFor(model => model.UserName):</strong> @Html.DisplayFor(model => model.UserName)<br/>
                        <strong>@Html.DisplayNameFor(model => model.VatNumber):</strong> @Html.DisplayFor(model => model.VatNumber)<br/>
                        <strong>@Html.DisplayNameFor(model => model.VatNumberStatusNote):</strong> @Html.DisplayFor(model => model.VatNumberStatusNote)<br/>
                        <strong>@Html.DisplayNameFor(model => model.ZipPostalCode):</strong> @Html.DisplayFor(model => model.ZipPostalCode)
                    </section>
                </div>
            }
            else
            {
                <div class="alert alert-block alert-danger fade in"> Could not load User details. Check Logs </div>
            }
        </section>
    </div>
</div>

<div>
    <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back to list</a>
</div>