﻿@model CatfishDemoStore.ViewModel.UserViewModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Users Manangement Area
            </header>
            <div class="panel-body">
                <section style="word-wrap: break-word;">
                    <strong>Current User ID:</strong> @Model.CurrentUserId.ToString()
                    <br/>
                    <strong>Customer Cookie Name:</strong> @(Model.CustomerToken != null ? @Model.CustomerToken.CookieName : string.Empty)
                    <br/>
                    <strong>Customer Cookie Token:</strong> @(Model.CustomerToken != null ? Model.CustomerToken.Token : string.Empty)
                </section>
            </div>
        </section>
    </div>

    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Change User
            </header>
            <div class="panel-body">
                <div class="dataTables_filter user" id="hidden-table-info_filter">
                    @using (Html.BeginForm("ChangeUserId", "User"))
                    {
                        <input id="NewUserId" name="guid" type="text" class="form-control" placeholder="New Guid" required="">
                        <button type="submit" class="btn btn-info "><i class="fa fa-refresh"></i> Update</button>
                    }
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Migrate User
            </header>
            <div class="panel-body">
                <div class="dataTables_filter user" id="hidden-table-info_filter">
                    @using (Html.BeginForm("MigrateUser", "User"))
                    {
                        <input id="MigrateUserId" name="guid" type="text" class="form-control" placeholder="Target User Guid" required="">
                        <button type="submit" class="btn btn-info "><i class="fa fa-arrow-circle-right"></i> Migrate</button>
                    }
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Single Sign On using current Guid
            </header>
            <div class="panel-body">
                <a href="@Url.Action("LogOnOtherSite", new {returnUrl = (string) null})" target="_blank" class="btn btn-success"><i class="fa fa-sign-in"></i> Log on to home page</a>
                <a href="@Url.Action("LogOnOtherSite", new {returnUrl = "/admin"})" target="_blank" class="btn btn-danger"><i class="fa fa-sign-in"></i> Log on to admin</a>
            </div>
        </section>
    </div>
    <div class="col-lg-6 SSoByEmail">
        <section class="panel">
            <header class="panel-heading">
                Single Sign On by Email
            </header>
            <div class="panel-body">
                @using (Ajax.BeginForm("GetCustomerTokenByEmail", new RouteValueDictionary(), new AjaxOptions {OnSuccess = "ssoRetrieved", OnBegin = "ssoBegin"}))
                {
                    <input id="emailSSO" name="email" type="email" class="form-control margin-bottom" placeholder="Email" required=""/>
                    <button type="submit" class="btn btn-info "><i class="fa fa-refresh"></i> Get SSO Urls</button>
                }
            </div>
            <div class="panel-body redirectButtons hidden-area">
                <a id="logonHome" href="" target="_blank" class="btn btn-success"><i class="fa fa-sign-in"></i> Log on to home page</a>
                <a id="logonAdmin" href="" target="_blank" class="btn btn-danger"><i class="fa fa-sign-in"></i> Log on to admin</a>
            </div>
        </section>
    </div>

    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Create New Customer
            </header>
            <div class="panel-body">
                <div class="dataTables_filter user" id="hidden-table-info_filter">
                    @using (Html.BeginForm("CreateNewCustomer", "User"))
                    {
                        <input id="emailNew" name="email" type="email" class="form-control margin-bottom" placeholder="Email" required=""/>
                        <input id="username" name="username" type="text" class="form-control margin-bottom" placeholder="Username" required=""/>
                        <input id="password" name="password" type="password" class="form-control margin-bottom" placeholder="Password" required=""/>
                        <button type="submit" class="btn btn-info "><i class="fa fa-plus"></i> Create</button>
                    }
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Get Customer by Email
            </header>
            <div class="panel-body">
                <div class="dataTables_filter user" id="hidden-table-info_filter">
                    @using (Html.BeginForm("Details", "User"))
                    {
                        <input id="email" name="email" type="email" class="form-control margin-bottom" placeholder="Email" required=""/>
                        <button type="submit" class="btn btn-info "><i class="fa fa-refresh"></i> Get Customer Details</button>
                    }
                </div>
            </div>
        </section>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Get Customer Token by Email
            </header>
            <div class="panel-body">
                @using (Ajax.BeginForm("GetCustomerTokenByEmail", new RouteValueDictionary(), new AjaxOptions { OnSuccess = "tokenRetrieved", OnBegin = "tokenBegin" }))
                {
                    <input id="emailToken" name="email" type="email" class="form-control margin-bottom" placeholder="Email" required="" />
                    <button type="submit" class="btn btn-info "><i class="fa fa-refresh"></i> Get SSO Urls</button>
                }
                <br />
                <div class="tokenResult hidden" style="word-wrap: break-word;">
                    <strong>Cookie Name:</strong> <span id="cookieNameByEmail"></span>
                    <br />
                    <strong>Cookie Token:</strong> <span id="tokenByEmail"></span>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    function ssoRetrieved(data) {
        if (data != 'error') {
            $('.SSoByEmail #logonHome').attr('href', data.siteSSOUrl);
            $('.SSoByEmail #logonAdmin').attr('href', data.adminSSOUrl);
            $('.SSoByEmail .redirectButtons').show();
        } else {
            $('.SSoByEmail #logonHome').attr('href', '');
            $('.SSoByEmail #logonAdmin').attr('href', '');
            $('.SSoByEmail .redirectButtons').hide();
        }
    }

    function ssoBegin() {
        $('.SSoByEmail .redirectButtons').hide();
    }

    function tokenRetrieved(data) {
        if (data != 'error') {
            $('#cookieNameByEmail').text(data.cookieName);
            $('#tokenByEmail').text(data.token);
            $('.tokenResult').removeClass('hidden');
        }
    }

    function tokenBegin() {
        $('#cookieNameByEmail').text('');
        $('#tokenByEmail').text('');
        $('.tokenResult').addClass('hidden');
    }
</script>