﻿@model Guid
@{
    ViewBag.Title = "Index";
}

<h2>User</h2>

<p>Current Id: @Model</p>

@Html.ActionLink("Log on to home page", "LogOnOtherSite", new { returnUrl = (string)null }, new { target = "_blank" }) <br />
@Html.ActionLink("Log on to admin", "LogOnOtherSite", new { returnUrl = "/admin" }, new { target = "_blank" })

<hr />
<h4>Change User Id</h4>

@using (Html.BeginForm("SaveUserId", "User"))
{
    <p>
    New Id: <input type="text" name="guid" size="60" />
    <br />
    <input type="submit" value="Save" />
    </p>
}

<br />or<br />

@Html.ActionLink("Start a new user", "NewUser")

<hr />
<h4>Migrate User</h4>

@using (Html.BeginForm("MigrateUser", "User"))
{
    <p>
    Target User Id: <input type="text" name="guid" size="60" />
    <br />
    <input type="submit" value="Save" />
    </p>
}