<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLineItem.ItemType Enum</h1>
                <p>Represents types of an order line item</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.Domain.OrderLine</h6>
                <h6>Member of CatfishApiSharp.Domain.OrderLine.OrderLineItem.ItemType</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public enum ItemType</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#Properties">Members</h2>
                <div class="collapse in" id="Properties">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th>Member Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>MultiPart</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Normal</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Static</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Variable</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->