<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLineItem.ItemStatus Enum</h1>
                <p>Represents statuses of an order line item</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.Domain.OrderClient</h6>
                <h6>Member of CatfishApiSharp.Domain.OrderLine.OrderLineItem</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public enum ItemStatus</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#Properties">Members</h2>
                <div class="collapse in" id="Properties">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th>Member Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AwaitingParts</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>AwaitingProof</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Creating</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Downloaded</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>FutureOrder</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>InArtworking</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>InBasket</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>InFinishing</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>InHotFolder</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>InPacking</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>InProduction</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>InReprographics</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Nothing</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>OnHold</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Ordered</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>OutputCreated</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>OutputCreationFailed</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>OutputCreationStarted</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Printed</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>RecreationRequested</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Rejected</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>SentEmail</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>SentEmailFailed</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Shipped</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>UnapprovedOrder</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Verified</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->