<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLine.DeleteOrderLineItem Method</h1>
                <p>Deletes the specified order line item. Note, only items which have not been ordered yet can be deleted.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.OrderLine</h6>
                <h6><strong>Class:</strong> OrderLine</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.OrderLine.IOrderlineItemClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public void DeleteOrderLineItem(
    string id
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>id</i>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br />
                            Order line item identifier <br />
                            Sample and type: String: "v293"
                        </p>
                    </div>
                </div>
                
                <h2 data-toggle="collapse" data-target="#SampleRequest">Sample request</h2>
                <div id="SampleRequest" class="collapse in">
                    <pre class="csharp">services/api/OrderlineItem/Delete/v293</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example</h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.OrderLine
{
    class DeleteOrderLineItem
    {
        static void Main_DeleteOrderLineItem()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                // Remove a specific OrderLine Item from the system
                string id = "x1";
                catfishApiClient.Orderline.DeleteOrderLineItem(id);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}                   </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->