<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLine.GetBasketItemsForUser Method</h1>
                <p>Get a list of order line item ids the specified user has in the basket.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.OrderLine</h6>
                <h6><strong>Class:</strong> OrderLine</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.OrderLine.IOrderlineItemClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public IEnumerable&lt;string&gt; GetBasketItemsForUser(
    System.Guid id
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>id</i>
                        <p class="padding-left">
                            Type: <strong>System.Guid</strong> <br />
                            User identifier <br />
                            Sample and type: Guid: f8b0d907-e647-4f6b-89ff-47c2776fccd4
                        </p>
                    </div>
                    
                    <h5><strong>Return Value</strong></h5>
                    <div>
                        <p>
                            Type: <strong>IEnumerable&lt;string&gt;</strong> <br />
                            Array of Strings
                        </p>
                    </div>
                </div>
                
                <h2 data-toggle="collapse" data-target="#SampleRequest">Sample request</h2>
                <div id="SampleRequest" class="collapse in">
                    <pre class="csharp">services/api/OrderlineItem/BasketItems/f8b0d907-e647-4f6b-89ff-47c2776fccd4</pre>
                </div>
                
                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">["v293","v305","v306"]</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;ArrayOfString xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
    &lt;string&gt;v293&lt;/string&gt;
    &lt;string&gt;v305&lt;/string&gt;
    &lt;string&gt;v306&lt;/string&gt;
&lt;/ArrayOfString&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example</h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.OrderLine;
namespace Infigo.Examples.OrderLine
{
    class GetBasketItemsForUser
    {
        static void Main_GetBasketItemsForUser()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);

            try
            {
                Guid userId = Guid.NewGuid();
                // Get the list of existing OrderLine items for a specific user
                IEnumerable&lt;string&gt; orderItemIds = catfishApiClient.Orderline.GetBasketItemsForUser(userId);

                foreach (var id in orderItemIds)
                {
                    // get details about each found order line item
                    OrderLineItem orderLineItem = catfishApiClient.Orderline.GetOrderLineItemInfo(id);
                    Console.WriteLine("Id: {0}; Name: {1}", orderLineItem.Id, orderLineItem.Name);
                }
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
               </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->