<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLine.GetOrderLineItemInfo Method</h1>
                <p>Get details for a specific order line item</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.OrderLine</h6>
                <h6><strong>Class:</strong> OrderLine</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.OrderLine.IOrderlineItemClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public CatfishApiSharp.Domain.OrderLine.OrderLineItem GetOrderLineItemInfo(
    string id
)
</pre>
                    <strong>Parameters</strong>
                    <p>
                        <i>id</i> <br />
                    <p class="padding-left">
                        Type: <strong>string</strong> <br />
                        Product identifier
                    </p>
                    </p>
                    <strong>Return Value</strong>
                    <p>
                        Type: <strong><a href="/Docs/OrderLine/OrderLineItem">OrderLineItem Class</a></strong> <br />
                        Object containing order item details
                    </p>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleRequest">Sample request</h2>
                <div id="SampleRequest" class="collapse in">
                    <pre class="csharp">services/api/OrderlineItem/Get/v293</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">{"Id":"v293","Name":"Example Product","CreatedOnUtc":"2013-10-02T09:32:36.7322848Z","Status":2,"Type":20,"PreviewUrls":["http://www.examp
lesite.com/-483376743/Handler/Picture/PI/T/0000053_%20_70.png"],"ThumbnailUrls":["http://www.examplesite.com/1920770933/Handler/Picture/PI/T/0000053_%20.png"],"Tags":["BusinessCard","Modern"],"Price":14.45,"Quantity", 2}</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;OrderlineItem xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
xmlns=&quot;http://schemas.datacontract.org/2004/07/Nop.Web.Areas.API.Models&quot;&gt;
    &lt;CreatedOnUtc&gt;2013-10-02T09:32:36.7322848Z&lt;/CreatedOnUtc&gt;
    &lt;Id&gt;v293&lt;/Id&gt;
    &lt;Name&gt;ExampleProduct&lt;/Name&gt;
    &lt;PreviewUrls xmlns:d2p1=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
        &lt;d2p1:string&gt;
            http://www.examplesite.com/-483376743/Handler/Picture/PI/T/0000053_%20_70.png
        &lt;/d2p1:string&gt;
    &lt;/PreviewUrls&gt;
    &lt;Price&gt;14.45&lt;/Price&gt;
    &lt;Status&gt;InBasket&lt;/Status&gt;
    &lt;Tags xmlns:d2p1=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
        &lt;d2p1:string&gt;BusinessCard&lt;/d2p1:string&gt;
        &lt;d2p1:string&gt;Modern&lt;/d2p1:string&gt;
        &lt;/Tags&gt;
    &lt;ThumbnailUrls xmlns:d2p1=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
        &lt;d2p1:string&gt;
            http://www.examplesite.com/1920770933/Handler/Picture/PI/T/0000053_%20.png
        &lt;/d2p1:string&gt;
    &lt;/ThumbnailUrls&gt;
    &lt;Type&gt;Variable&lt;/Type&gt;
&lt;/OrderlineItem&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.OrderLine
{
    class GetOrderLineItemInfo
    {
        static void Main_GetOrderLineItemInfo()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                var orderLineId = "1x";
                // Get order line item by specific id
                CatfishApiSharp.Domain.OrderLine.OrderLineItem orderLineItem =
                    catfishApiClient.Orderline.GetOrderLineItemInfo(orderLineId);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/OrderLine/OrderLineItem">OrderLineItem Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->