<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLine.GetSavedProjectItemsForUser Method</h1>
                <p>Get a list of order line item ids the specified user has saved for future editing.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.OrderLine</h6>
                <h6><strong>Class:</strong> OrderLine</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.OrderLine.IOrderlineItemClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public IEnumerable&lt;string&gt; GetSavedProjectItemsForUser(
    System.Guid id
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>id</i>
                        <p class="padding-left">
                            Type: <strong>System.Guid</strong> <br />
                            User identifier <br />
                            Sample and type: Guid: 445493d5-3301-49f9-b577-e8a23cf51237
                        </p>
                    </div>

                    <h5><strong>Return Value</strong></h5>
                    <div>
                        <p>
                            Type: <strong>IEnumerable&lt;string&gt;</strong> <br />
                            Array of Strings
                        </p>
                    </div>
                </div>
                
                <h2 data-toggle="collapse" data-target="#SampleRequest">Sample request</h2>
                <div id="SampleRequest" class="collapse in">
                    <pre class="csharp">services/api/OrderlineItem/SavedProjects/f8b0d907-e647-4f6b-89ff-47c2776fccd4</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseJson">Sample response body JSON</h2>
                <div id="SampleResponseJson" class="collapse in">
                    <pre class="csharp">["v293","v305","v306"]</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SampleResponseXml">Sample response body XML</h2>
                <div id="SampleResponseXml" class="collapse in">
                    <pre class="csharp">
&lt;ArrayOfString xmlns:i=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns=&quot;http://schemas.microsoft.com/2003/10/Serialization/Arrays&quot;&gt;
    &lt;string&gt;v293&lt;/string&gt;
    &lt;string&gt;v305&lt;/string&gt;
    &lt;string&gt;v306&lt;/string&gt;
&lt;/ArrayOfString&gt;</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample">
                    <i class="fa fa-code"></i> Example
                </h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.OrderLine
{
    class GetSavedProjectItemsForUser
    {
        static void Main_GetSavedProjectItemsForUser()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);

            try
            {
                Guid userId = Guid.NewGuid();

                // Get saved project for a specific user
                IEnumerable&lt;string&gt; projects = catfishApiClient.Orderline.GetSavedProjectItemsForUser(userId);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/OrderLine/OrderLineItem">OrderLineItem Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->