<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLine.ListOrderLineItemIds Method</h1>
                <p>Get order line items per type</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.OrderLine</h6>
                <h6><strong>Class:</strong> OrderLine</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.OrderLine.IOrderlineItemClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public IEnumerable&lt;string&gt; ListOrderLineItemIds(
     int itemType
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>id</i>
                        <p class="padding-left">
                            Type: <strong>int</strong> <br />
                            Item Type
                        </p>
                    </div>

                    <h5><strong>Return Value</strong></h5>
                    <div>
                        <p>
                            Type: <strong>IEnumerable&lt;string&gt;</strong> <br />
                            Array of Strings
                        </p>
                    </div>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example</h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.OrderLine;
namespace Infigo.Examples.OrderLine
{
    class ListOrderLineItemIds
    {
        static void Main_ListOrderLineItemIds()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);

            try
            {
                int itemType = (int) OrderLineItem.ItemType.MultiPart;

                // Get order line items Ids per Item Type
                IEnumerable&lt;string&gt; item = catfishApiClient.Orderline.ListOrderLineItemIds(itemType);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}
               </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                        <a href="/Docs/OrderLine/OrderLineItem">OrderLineItem Class</a>
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->