<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLine.SearchByNotes Method</h1>
                <p>Search order line items by notes in the system</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.OrderLine</h6>
                <h6><strong>Class:</strong> OrderLine</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.OrderLine.IOrderlineItemClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public IEnumerable&lt;orderlineitem&gt; SearchByNotes(
    string notes, 
    [bool exactMatch = true] // default value is true
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>notes</i>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br />
                            Notes
                        </p>
                        <i>exactMatch</i>
                        <p class="padding-left">
                            Type: <strong>System.Boolean</strong> <br />
                            Exact Mach by string or not
                        </p>
                    </div>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example</h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Collections.Generic;
using System.Configuration;
using CatfishApiSharp;
using CatfishApiSharp.Domain.OrderLine;
namespace Infigo.Examples.OrderLine
{
    class SearchByNotes
    {
        static void Main_SearchByNotes()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);

            try
            {
                string notes = "Test note";

                // Search OrderLine items by notes
                IEnumerable&lt;OrderLineItem&gt; orderItemIds = catfishApiClient.Orderline.SearchByNotes(notes);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}                   </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->