<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>OrderLine.UpdateItemStatus Method</h1>
                <p>Set a new status for an order line item. This is only possible once an order line item has been ordered.</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp.ApiAreas.OrderLine</h6>
                <h6><strong>Class:</strong> OrderLine</h6>
                <h6><strong>Member of CatfishApiSharp.ApiAreas.OrderLine.IOrderlineItemClient</strong></h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public void UpdateItemStatus(
    string id,
    int newStatus
)
</pre>
                    <h5><strong>Parameters</strong></h5>
                    <div>
                        <i>id</i>
                        <p class="padding-left">
                            Type: <strong>string</strong> <br />
                            Order Item identifier <br />
                            Sample and type: String: "v293"
                        </p>
                        <i>newStatus</i>
                        <p class="padding-left">
                            Type: <strong>int</strong> <br />
                            New status to use for this order line item <br />
                            Sample and type: 13 <br />
                            Possible Values:<br />
                            Printed = 8,<br />
                            Shipped = 9,<br />
                            AwaitingApproval = 10,<br />
                            AwaitingData = 11,<br />
                            AwaitingParts = 12,<br />
                            AwaitingProof = 13,<br />
                            InArtworking = 14,<br />
                            InFinishing = 15,<br />
                            InPacking = 16,<br />
                            InProduction = 17,<br />
                            InReprographics = 18,<br />
                            OnHold = 19
                        </p>
                    </div>
                </div>
                
                <h2 data-toggle="collapse" data-target="#SampleRequest">Sample request</h2>
                <div id="SampleRequest" class="collapse in">
                    <pre class="csharp">services/api/OrderlineItem/UpdateItemStatus/v293?newStatus=13</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#CodeSample"><i class="fa fa-code"></i> Example</h2>
                <div id="CodeSample" class="collapse in">
                    <pre class="csharp">
using System;
using System.Configuration;
using CatfishApiSharp;
namespace Infigo.Examples.OrderLine
{
    class UpdateOrderLineItemQuantity
    {
        static void Main_UpdateOrderLineItemQuantity()
        {
            string catfishApiBaseAddress = ConfigurationManager.AppSettings["CatfishApiBaseAddress"];
            string catfishApiKey = ConfigurationManager.AppSettings["CatfishApiKey"];
            // create an instance of the CatfishApiClient
            var catfishApiClient = new CatfishApiClient(catfishApiBaseAddress, false, catfishApiKey, String.Empty);
            try
            {
                string orderLineItem = "x1";
                int status = 13;

                // Update status for a specific order line item
                catfishApiClient.Orderline.UpdateItemStatus(orderLineItem, status);
            }
            catch (Exception ex)
            {
                // failed
                Console.WriteLine("Exception: {0}", ex.Message);
            }
        }
    }
}                   </pre>
                </div>

                <h2 data-toggle="collapse" data-target="#SeeAlso">See Also</h2>
                <div class="collapse in" id="SeeAlso">
                    <p>
                        <strong>Reference</strong> <br />
                        <a href="/Docs/General/CatfishApiClient">CatfishApiClient Class</a> <br />
                    </p>
                </div>

            </div>
        </section>
    </div>
</div>
<!-- page end -->