<!-- page start -->
<div class="row doc-template">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <h1>CatfishApiSharp Class</h1>
                <p>API client</p>
                <h6><strong>Namespace:</strong> CatfishApiSharp</h6>

                <h2 data-toggle="collapse" data-target="#Syntax">Syntax</h2>
                <div class="collapse in" id="Syntax">
                    <pre class="csharp">
public CatfishApiClient(
    string platformUrl, 
    bool useSsl, 
    string apiKey, 
    string apiVersion, 
    string downloadLocation = null, 
    string uploadLocation = null, 
    string userAgent = null
)</pre>
                </div>

                <h2 data-toggle="collapse" data-target="#Parameters">Parameters</h2>
                <div class="collapse in" id="Parameters">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>string</td>
                                <td>platformUrl</td>
                                <td>Url of the platform api</td>
                            </tr>
                            <tr>
                                <td>bool</td>
                                <td>useSsl </td>
                                <td>Flag which indicates if to use ssl while sending/receiving data from api</td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>apiKey </td>
                                <td>The api key used to authenticate the request</td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>apiVersion </td>
                                <td>Api version</td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>downloadLocation </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>uploadLocation </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>string</td>
                                <td>userAgent </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- page end -->